<%inherit file="base.html" />
<%!
  import logging
  from xmodule.util.date_utils import get_default_time_display, almost_same_datetime
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
  from collections import OrderedDict
%>
<%block name="title">${_("CMS Subsection")}</%block>
<%block name="bodyclass">is-signedin course view-subsection</%block>


<%namespace name="units" file="widgets/units.html" />
<%namespace name='static' file='static_content.html'/>

<%block name="content">


<div class="main-wrapper">
  <div class="inner-wrapper">
    <div class="main-column">
      <article class="subsection-body window" data-locator="${locator}">
        <div class="subsection-name-input">
          <label>${_("Display Name:")}</label>

          <input type="text" value="${subsection.display_name_with_default | h}" class="subsection-display-name-input" data-metadata-name="display_name"/>
        </div>

         <div class="subsection-name-input">
         <label>${_("Subsection availability without registration")}</label>
             <select id = "available-for-demo" data-metadata-name="available_for_demo">
                  <option value="0"
                          % if not subsection.available_for_demo:
                             selected
                          % endif
                  >${_("not available")}</option>
                  <option value="1"

                          % if subsection.available_for_demo:
                             selected
                          % endif

                  > ${_("available")}</option>

              </select>

              <% ctx_loc = context_course.location %>
               <p style = "font-size:10px">(${_("Subsection")} <b>
                          % if context_course.available_for_demo:
                             ${_("available")}
                          % else:
                             ${_("not available")}
                          % endif
                             </b> ${_("without registration")} - ${_("change course settings")} </a>)</p>




        </div>
        <div class="subsection-name-input">
          % if context_course.locked_subsections:
          <label>${_("Unlock Term")}</label>
                <div id='termConstructor' class = 'termConstructor'>
                    <table class='termEditor'>
                        <tbody data-bind="foreach: disjunctions">
                            <tr>
                                <td>
                                    <div><img class = "close" src = '${static.url("img/Delete-icon.png")}' data-bind='click: $root.removeDisjunction'/></div>
                                </td>

                                <td align = "center">
                                    <table>

                                        <tbody data-bind="foreach: conjunctions">
                                            <tr>

                                                <td>

                                                <select  data-bind='value: source_section_id, valueUpdate: "afterkeydown"'>
                                                    % for every_section in sections:
                                                      % for every_subsection in every_section.get_children():
                                                         % if subsection.url_name != every_subsection.url_name:
                                                            <option value="${every_subsection.url_name}">${every_section.display_name_with_default}: ${every_subsection.display_name_with_default}</option>
                                                         % endif
                                                       % endfor
                                                    % endfor
                                                </select>

                                                </td>


                                                <td>
                                                    <select data-bind='value: field, valueUpdate: "afterkeydown"'>
                                                        <option value="score_abs">${_("Score (absolute)")}</option>
                                                        <option value="score_rel">${_("Score (relative, %)")}</option>
                                                    </select>
                                                </td>
                                                <td>

                                                    <select  data-bind='value: sign, valueUpdate: "afterkeydown"'>
                                                        <option value="more">&#62;</option>
                                                        <option value="more-equals">&#8805;</option>
                                                        <option value="equals">=</option>
                                                        <option value="less-equals">&#8804;</option>
                                                        <option value="less">&#60;</option>
                                                    </select>

                                                </td>
                                                <td><input  data-bind='value: value, valueUpdate: "afterkeydown"' class = "value" /></td>
                                                <td style="vertical-align: middle"><img width="20" src = "${static.url('img/edit_remove.png')}"  data-bind='click: $root.removeConjunction' class = "del" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                     <div style = "width:100%">
                                         <img class = "add" src  = '${static.url("img/plus_16.png")}' data-bind='click: $root.addConjunction' />
                                     </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                 <div style="width: 100%; padding:10px 0px ">
                    <img class = "add" style="width:20px; margin: 3px;" src = '${static.url("img/plus_32.png")}' data-bind='click: addDisjunction' />
                </div>
                </div>

        % endif

        % if context_course.locked_subsections:
                <input disabled data-bind='value: term_string' style="font-size: 10px; display:none;" class="subsection-display-name-input" data-metadata-name="unlock_term">
        
        <div class="tags-input">
          <label>${_("Tags")}</label>
             <select id="tags-select" multiple="" style="width:100%" class="populate select2-offscreen">
              % for item in tags:
                  % if item['is_leaf']:
                      <option value="${item['code']}" name="${item['name']}">${'&nbsp'*3*item['height']+item['name']}</option>
                  % else:
                      <option disabled>${'&nbsp'*3*item['height']+item['name']}</option>
                  % endif
              % endfor
          </select>
            <br>
        </div>
        <p style = "text-align: center;"><input type = "button" class = "save-subsection-button" value='${_("Save")}'/></p>
        <script>
            require(['jquery','knockout', 'knockout-mapping', 'numeric', 'select2'], function($, ko, mapping, numeric, select2) {
                $("#tags-select").
                  val(JSON.parse($("#selected_tags").val())).
                  select2({formatSelection: function(item) {
                    return "<div value='" + $(item.element).val() + "'>" + $(item.element).attr("name") + "</div>";}
                  });

                var unlock_term = '${subsection.unlock_term_with_default|h}'.replace(/\&#34;/g, '"');
                var dataFromDB = ko.utils.parseJson(unlock_term).disjunctions;

                var initialData = [
                        { conjunctions: [
                            { source_section_id: ko.observable(), field: "score_rel" , sign: "less" , value: "123" }]
                       }
                   ];


                var DisjunctionsModel = function(disjunctions) {
                    var self = this;

                    self.disjunctions = mapping.fromJS(dataFromDB);
                    self.addDisjunction = function() {
                        self.disjunctions.push({
                            conjunctions: ko.observableArray([{
                                source_section_id: ko.observable(),
                                field: ko.observable("score_abs"),
                                sign: ko.observable("more"),
                                value: ko.observable("0")
                            }])
                        });

                        check_numeric();
                        hovers();
                    };

                    self.removeDisjunction = function(disjunction) {
                        self.disjunctions.remove(disjunction);


                    };

                    self.addConjunction = function(disjunction) {
                        disjunction.conjunctions.push({
                            source_section_id: ko.observable(),
                            field: ko.observable("score_abs"),
                            sign: ko.observable("more"),
                            value: ko.observable("0")
                        });

                        check_numeric();
                        hovers();
                    };

                    self.removeConjunction = function(conjunction) {
                        $.each(self.disjunctions(), function() { this.conjunctions.remove(conjunction) })


                    };


                    self.term_string = ko.computed(function () {
                        return ko.toJSON({disjunctions: self.disjunctions});

                    });


                    function update(){
                        self.lastSavedJson(JSON.stringify(ko.toJS({disjunctions: self.disjunctions}), null, 0));
                    }
                    //self.lastSavedJson = ko.observable(unlock_term)
                };

                ko.applyBindings(new DisjunctionsModel());

                function hovers(){
                    $("img.close").hover(
                        function () {
                            $(this).parent().parent().parent().css("background-color","#fcc");
                        },
                        function () {
                            $(this).parent().parent().parent().css("background-color","");
                        }
                    );


                    $("img.del").hover(
                        function () {
                            $(this).parent().parent().css("background-color","#fcc");
                        },
                        function () {
                            $(this).parent().parent().css("background-color","");
                        }
                    );

                    $("img.add").hover(
                        function () {
                            $(this).parent().css("background-color","#cfc");
                        },
                        function () {
                            $(this).parent().css("background-color","");
                        }
                    );
                }

                hovers();

                function check_numeric(){
                    $("input.value").numeric();
                }

                check_numeric();



            });


        </script>
        % endif
        </div>

        <div class="wrapper-dnd">
        <div class="sortable-unit-list">

          <label>${_("Units:")}</label>


          ${units.enum_units(subsection, subsection_units=subsection_units)}
        </div>
        </div>
      </article>
    </div>

    <div class="sidebar">
      <div class="unit-settings window id-holder" data-locator="${locator}">
    <h4 class="header">${_("Subsection Settings")}</h4>
    <div class="window-contents">
      <div class="scheduled-date-input row">
        <div class="datepair" data-language="javascript">
          <div class="field field-start-date">

            <label for="start_date">${_("Release Day")}</label>
            <input type="text" id="start_date" name="start_date"
                value="${subsection.start.strftime('%d.%m.%Y') if subsection.start else ''}"
                placeholder="DD.MM.YYYY" class="date" size='15' autocomplete="off"/>
          </div>
          <div class="field field-start-time">
            <label for="start_time">${_("Release Time")} (<abbr title='${_("Coordinated Universal Time")}'>${_("UTC")}</abbr>)</label>
            <input type="text" id="start_time" name="start_time"
                value="${subsection.start.strftime('%H:%M') if subsection.start else ''}"
                placeholder="HH:MM" class="time" size='10' autocomplete="off"/>
          </div>
        </div>
        % if subsection.start and not almost_same_datetime(subsection.start, parent_item.start):
            % if parent_item.start is None:
            <p class="notice">${_("The date above differs from the release date of {name}, which is unset.").format(name=parent_item.display_name_with_default)}
            % else:
      <p class="notice">${_("The date above differs from the release date of {name} - {start_time}").format(name=parent_item.display_name_with_default, start_time=get_default_time_display(parent_item.start))}.
            % endif
      <a href="#" class="sync-date no-spinner">${_("Sync to {name}.").format(name=parent_item.display_name_with_default)}</a></p>
        % endif
      </div>

    <div class="row gradable">

      <label>${_("Graded as:")}</label>

    <div class="gradable-status" data-initial-status="${subsection.format if subsection.format is not None else _('Not Graded')}">
    </div>

    <div class="due-date-input row">

       <a href="#" class="set-date">${_("Set a due date")}</a>
      <div class="datepair date-setter">
        <div class="field field-start-date">
        <label for="due_date">${_("Due Day")}</label>
          <input type="text" id="due_date" name="due_date"
          value="${subsection.due.strftime('%d.%m.%Y') if subsection.due else ''}"
          placeholder="DD.MM.YYYY" class="date" size='15' autocomplete="off"/>
        </div>
        <div class="field field-start-time">
        <label for="due_time">${_("Due Time")} (<abbr title="${_('Coordinated Universal Time')}">UTC</abbr>)</label>
          <input type="text" id="due_time" name="due_time"
            value="${subsection.due.strftime('%H:%M') if subsection.due else ''}"
            placeholder="HH:MM" class="time" size='10' autocomplete="off"/>
        </div>
        <a href="#" class="remove-date">${_("Remove due date")}</a>
      </div>
    </div>
    <div class="row unit-actions">
      <a href="${preview_link}" target="_blank" class="preview-button">${_("Preview Drafts")}</a>
      %if can_view_live:
      <a href="${lms_link}" target="_blank" class="preview-button">${_("View Live")}</a>
      %endif
    </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>
</%block>

<%block name="jsextra">
<link rel="stylesheet" type="text/css" href="${static.url('js/vendor/timepicker/jquery.timepicker.css')}" />

<script type="text/javascript">
require(["domReady!", "jquery", "js/models/location", "js/views/overview_assignment_grader",
  "js/collections/course_grader", "js/views/overview"],
  function(doc, $, Location, OverviewAssignmentGrader, CourseGraderCollection) {
    // expand the due-date area if the values are set
    if ($('#due_date').val() != '') {
      var $block = $('.set-date').closest('.due-date-input');
      $('.set-date').hide();
      $block.find('.date-setter').show();
    }
    // TODO figure out whether these should be in window or someplace else or whether they're only needed as local vars
    // I believe that current (New Section/New Subsection) cause full page reloads which means these aren't needed globally
    // but we really should change that behavior.
    if (!window.graderTypes) {
        window.graderTypes = new CourseGraderCollection(${course_graders|n}, {parse:true});
    }

    $(".gradable-status").each(function(index, ele) {
      var gradeView = new OverviewAssignmentGrader({
        el : ele,
        graders : window.graderTypes,
        hideSymbol : true
      });
    });
});
</script>
<input type="hidden" id="selected_tags" value='${selected_tags}'>
</%block>
