<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<%! from django.utils.translation import ugettext as _ %>
<%inherit file="base_min.html" />
<%!
   import logging
   from xmodule.util.date_utils import get_default_time_display, almost_same_datetime
%>

<%! from django.core.urlresolvers import reverse %>з
<%block name="title">Визуализация подраздела</%block>

<%block name="bodyclass">is-signedin course subsection</%block>
<%block name="content">

    <script type="text/javascript" src="/static/js/graph/strathausen-dracula-a6a5fa7/js/raphael-min.js"></script>
    <script type="text/javascript" src="/static/js/graph/strathausen-dracula-a6a5fa7/js/g.raphael.js"></script>
    <script type="text/javascript" src="/static/js/graph/strathausen-dracula-a6a5fa7/js/dracula_graffle.js"></script>
    <script type="text/javascript" src="/static/js/graph/strathausen-dracula-a6a5fa7/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/static/js/graph/strathausen-dracula-a6a5fa7/js/dracula_graph.js"></script>

    <script type="text/javascript" src="/static/js/graph/graph.js"></script>

    <link rel="stylesheet" href="/static/js/vendor/jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.css" />

    <script src="/static/js/vendor/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js"></script>

    <script src="/static/js/vendor/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.2.custom.js"></script>
        <!---
            jQuery UI 1.10.3 has a bug when dragging makes dialog window jump to the bottom of screen.
            So it is advisable to use version 1.10.2 before it is fixed.
         --->

    <p class="data_string" style="display:none">{
        % for every_unit in subsection.get_children():
        "${every_unit.url_name}" : [
            % for child in every_unit.get_children():
               { "url" : "${child.url_name}", "name" : "${child.display_name_with_default}", "type" : "${child.get_class}" } ,
            % endfor
        {} ],<br/>
        % endfor
        }
    </p>
<!-- style="display:none" -->
    <p class="names_string" style="display:none">{
        % for every_unit in subsection.get_children():
                "${every_unit.url_name}" : { "name" : "${every_unit.display_name_with_default}",
                    "location" : "${every_unit.location}",
                    "coords_x" : "${every_unit.coords_x}", "coords_y" : "${every_unit.coords_y}"},
                <br/>
        % endfor
        }
    </p>
    <p class="states_string" style="display:none">{
        % for k,v in states.iteritems():
            "${ k }" : "${ v }",
        % endfor
        }
    </p>
    <p class="graph_string" style="display:none">[
        % for every_unit in subsection.get_children():
            ${every_unit.direct_term_with_default} ,<br/>
        % endfor
        ]
    </p>

    <p class="parent-location" style="display:none">${subsection.location}</p>

<div style="display:none">
    <div id="node-details" title="Подробности">
        <p class = "node-name" >Название</p>
        <a class="node-edit-link" href="#">(открыть в редакторе)</a>
        <hr align="center" width="auto" size="1" color="#000000" />
        <div id="node-content">
        </div>
        <hr align="center" width="auto" size="1" color="#000000" />
        <div id="node-edges-list">
            <p class = "node-edges-message">Из этой вершины можно попасть в следующие вершины:</p>
        </div>
    </div>
    <div id="add-new-node" title="Добавление вершины">
        <input id="node-name-input" data-bind='value: value, valueUpdate: "afterkeydown"'/>
    </div>
    <div id="node-add-condition" title="Добавление перехода">

        <table>

            <tbody data-bind="foreach: conjunctions">
                <tr>
                    <td>
                        <select id="input-field" data-bind='value: field, valueUpdate: "afterkeydown"'>
                            <option value="score_abs">Результат (абсолютный)</option>
                            <option value="score_rel">Результат (относительный, %)</option>
                        </select>
                    </td>
                    <td>

                        <select id="input-sign" data-bind='value: sign, valueUpdate: "afterkeydown"'>
                            <option value="more">&#62;</option>
                            <option value="more-equals">&#8805;</option>
                            <option value="equals">=</option>
                            <option value="less-equals">&#8804;</option>
                            <option value="less">&#60;</option>
                        </select>

                    </td>
                    <td><input id="input-value" data-bind='value: value, valueUpdate: "afterkeydown"' class = "value" /></td>
                </tr>
            </tbody>
        </table>


    </div>
</div>

<div id="canvas"></div>
<button id="new_node" onclick="add_node();">New Node</button>
<button id="random_redraw" onclick="redraw();">redraw</button>
<button id="save" onclick="save_layout();">save</button>
<button id="load" onclick="load_layout();">load</button>
<button id="mode" onclick="moving_mode();">mode</button>
<!--
<button id="red_edges" onclick="hide_red_edges();">Red Edges</button>
-->

<!--
<script type="text/javascript" src="/static/js/knockout.js"></script>
<script type="text/javascript" src="/static/js/knockout-mapping.js"></script>

<ul data-bind="foreach: places">
    <li>
        <span data-bind="text: $data"></span>
        <button data-bind="click: $parent.removePlace">Remove</button>
    </li>
</ul>

 <script type="text/javascript">
     function MyViewModel() {
         var self = this;
         self.places = ko.observableArray(['London', 'Paris', 'Tokyo']);

         // The current item will be passed as the first parameter, so we know which place to remove
         self.removePlace = function(place) {
             self.places.remove(place)
         }
     }
     ko.applyBindings(new MyViewModel());
</script>
-->

        </%block>
