<%inherit file="base.html" />
<%!
  import logging
  from xmodule.util.date_utils import get_default_time_display, almost_same_datetime
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
%>
<%block name="title">${_("CMS Subsection")}</%block>
<%block name="bodyclass">is-signedin course view-subsection</%block>

<%namespace name="units" file="widgets/units.html" />
<%namespace name='static' file='static_content.html'/>

<%block name="content">


    <!---
    <script type="text/javascript"
            src='${static.url("js/graph/strathausen-dracula-a6a5fa7/js/eve.js")}'>
            </script>
            --->
    <script type="text/javascript"
            src='${static.url("js/graph/strathausen-dracula-a6a5fa7/js/raphael-min.js")}'>
            </script>
    <script type="text/javascript"
            src='${static.url("js/graph/strathausen-dracula-a6a5fa7/js/g.raphael.js")}'>
            </script>
    <script type="text/javascript"
            src='${static.url("js/graph/strathausen-dracula-a6a5fa7/js/jquery-1.4.2.min.js")}'></script>

    <script type="text/javascript"
            src='${static.url("js/graph/graph.js" )}'></script>

    <script type="text/javascript"
            src='${static.url("js/graph/strathausen-dracula-a6a5fa7/js/dracula_graffle.js")}'>
            </script>

    <script type="text/javascript"
            src='${static.url("js/graph/strathausen-dracula-a6a5fa7/js/dracula_graph.js")}'></script>

    <script type="text/javascript"
            src='${static.url("js/fancybox/source/jquery.fancybox.pack.js")}'>
            </script>
    <link rel="stylesheet"
          href='${static.url("js/fancybox/source/jquery.fancybox.css")}'
          type="text/css" media="screen" />
    <link rel="stylesheet"
          href='${static.url("js/vendor/jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.css")}'
          type="text/css" media="screen" />
        <!---
            jQuery UI 1.10.3 has a bug when dragging makes dialog window jump to the bottom of screen.
            So it is advisable to use version 1.10.2 before it is fixed.
         --->
    <script type="text/javascript"
            src='${static.url("js/graph/graph_NodeRender.js" )}'></script>
    <script type="text/javascript"
            src='${static.url("js/graph/graph_NodeDetails.js" )}'></script>

<img id = "Delete-icon-base" style="display:none" src = '${static.url("img/Delete-icon.png")}' />

<!--- Костыль: я не умею получать тип модуля, поэтому я выдираю его, используя особенности форматирования вывода -->
<!--- Возможно, стоит добавить всем модулям нужный метод -->
<!--- (стандартная функция child.module_class не работает) -->

<!-- style="display:none" -->
<div style="display:none">

    <p class="data_string" >${data_string}</p>
    <p class="names_string">${names_string} </p>
    <p class="graph_string">${graph_string}</p>
    <p class="locators_dict">${locators_dict}</p>
    <p class="parent-location" >${subsection.location}</p>
    <p class="locator">${locator}</p>
    <p class="states_string">{
        % for k,v in states.iteritems():
            "${ k }" : "${ v }",
        % endfor
        }
    </p>
</div>


<div style="display:none">
    <div id="rename-node" title="${_('Rename')}">
        <textarea id="node-rename-input" cols="20" rows="3" data-bind='value: value, valueUpdate: "afterkeydown"'/></textarea>
    </div>
    <div id="node-details" title="${_('Node Details')}">

        <p class = "node-name" >${_('Node Name')}</p>

        <a class="node-edit-link" href="#">${_('Open in editor')}</a>
        <hr align="center" width="auto" size="1" color="#000000" />
        <div id="node-content">
        </div>
        <hr align="center" width="auto" size="1" color="#000000" />
        <div id="node-edges-list">
            <p class = "node-edges-message"> ${_('Neighbours List')} </p>
        </div>
        <!--
        <a href="#" class="delete-section-button" data-locator="JLU.H101.strangeEons/branch/draft/block/verticale89" data-tooltip="Delete this unit"><i class="icon-trash"></i><span class="sr">Delete unit</span></a>
        <a href="#" class="delete-unit-button action" data-locator="JLU.H101.strangeEons/branch/draft/block/verticale89" data-tooltip="Delete this unit"><i class="icon-trash"></i><span class="sr">Delete unit</span></a>
        -->
        <a href="#" class="delete-node-button" >
            <i class="icon-trash"></i>
            <span class="sr">Delete unit</span>
        </a>


    </div>
    <div id="add-new-node" title="${_('Adding a new node')}">
        <input id="node-name-input" data-bind='value: value, valueUpdate: "afterkeydown"'/>
    </div>
    <div id="on-exiting-draging-mode" title="${_('Save Layout?')}">
        <p>${_('Do you want to save graphs layout?')}</p>
    </div>
    <div id="confirm-edge-deletion" title="${_('Are you sure?')}">
        <p>${_('Are you sure you want this edge removed?')}</p>
    </div>
    <div id="delete-node" title="${_('Delete this Unit?')}">
        <p>${_('Deleting this Section is permanent and cannot be undone.')}</p>
    </div>
    <div id="node-add-condition" title="${_('Direct Term')}">
        <table>

            <tbody data-bind="foreach: conjunctions">
                <tr>
                    <td>
                        <select id="input-field" data-bind='value: field, valueUpdate: "afterkeydown"'>
                            <option value="score_abs">${_("Score (absolute)")}</option>
                            <option value="score_rel">${_("Score (relative, %)")}</option>
                        </select>
                    </td>
                    <td>

                        <select id="input-sign" data-bind='value: sign, valueUpdate: "afterkeydown"'>
                            <option value="more">&#62;</option>
                            <option value="more-equals">&#8805;</option>
                            <option value="equals">=</option>
                            <option value="less-equals">&#8804;</option>
                            <option value="less">&#60;</option>
                        </select>

                    </td>
                    <td><input id="input-value" data-bind='value: value, valueUpdate: "afterkeydown"' class = "value" /></td>
                </tr>
            </tbody>
        </table>


    </div>
</div>



<div id="canvas"></div>
<button id="redraw" onclick='redraw();'>Redraw</button>
<!---
<button id="mode" onclick="moving_mode();">mode</button>
        --->
<button id="save" onclick="save_layout();">save</button>
<button id="load" onclick="load_layout();">load</button>

</%block>