<%! from django.utils.translation import ugettext as _ %>
<%inherit file="base.html" />
<%! from django.core.urlresolvers import reverse %>

<%block name="title">${_(u"Добро пожаловать")}</%block>
<%block name="bodyclass">not-signedin index howitworks</%block>

<%block name="content">

<div class="wrapper-content-header wrapper">
  <section class="content content-header">
    <header>
      ## "edX Studio" should not be translated
      <h1><span class="wrapper-text-welcome">${_(u'Добро пожаловать в ')}</span><span class="logo"> Студию</span></h1>
      <p class="tagline">${_(u"Помощь в управлении онлайн-курсами")}</p>
    </header>
  </section>
</div>

<div class="wrapper-content-features wrapper">
  <section class="content content-features">
    <header>
      <h2 class="sr">${_(u"Некоторые особенности студии")}</h2>
    </header>

    <ol class="list-features">
      <li class="feature">
        <figure class="img zoom">
          <a rel="modal" href="#hiw-feature1">
            <img src="/static/img/thumb-hiw-feature1.png" alt="${_(u'Студия поможет сделать ваши курсы организаваннее')}" />
            <figcaption class="sr">${_(u"Студия поможет сделать ваши курсы организаваннее")}</figcaption>
            <span class="action-zoom">
              <i class="icon-zoom-in"></i>
            </span>
          </a>
        </figure>

        <div class="copy">
          <h3>${_(u"Содержание курса")}</h3>
          <p>${_(u"Студия предлагает редактор, обеспечивающий простую иерархию и легкое перемещение студентов по курсу")}</p>

          <ul class="list-proofpoints">
            <li class="proofpoint">
              <h4 class="title">${_(u"Простая организация контента")}</h4>
              <p>${_(u"Студия использует простую иерархию <strong>разделов</strong> и <strong>подразделов</strong> для организации содержания курса")}</p>
            </li>

            <li class="proofpoint">
              <h4 class="title">${_(u"Изменить свое решение в любое время")}</h4>
              <p>${_(u"В любое время вы можете изменить структуру курса простым перетаскиванием.")}</p>
            </li>

            <li class="proofpoint">
              <h4 class="title">${_(u"Создавайте уроки в свое время")}</h4>
              <p>${_(u"Добавляйте разделы для студентов постепенно. Вы не должны создавать все и сразу")}</p>
            </li>
          </ul>
        </div>
      </li>

      <li class="feature">
        <figure class="img zoom">
        <a rel="modal" href="#hiw-feature2">
          <img src="/static/img/thumb-hiw-feature2.png" alt="${_(u'Обучение - уже больше чем просто лекции')}" />
          <figcaption class="sr">${_(u"Обучение - уже больше чем просто лекции")}</figcaption>
          <span class="action-zoom">
            <i class="icon-zoom-in"></i>
          </span>
        </a>
        </figure>

        <div class="copy">
          <h3>${_(u"Обучение - уже больше чем просто лекции")}</h3>
          <p>${_(u"Студия позволяет переплетать содержание фрагментов курса друг с другом для усиления эффекта обучения - короткие видео-лекции чередуются с упражнениями и многое другое. Автор может добавить широкий спектр упражнений всего в несколько кликов")} </p>

          <ul class="list-proofpoints">
            <li class="proofpoint">
              <h4 class="title">${_(u"Создание направленного обучения")}</h4>
              <p>${_(u"Помогите учащимся понять небольшой фрагмент за одно видео, HTML или упражнение")}</p>
            </li>

            <li class="proofpoint">
              <h4 class="title">${_(u"Быстрая организация наглядной работы")}</h4>
              <p>${_(u"Работа визуализирована и есть возможность просматривать от лица студента. Наполнять содержимое с помощью перетаскивания")}</p>
            </li>

            <li class="proofpoint">
              <h4 class="title">${_(u"Большая библиотека типовых проблем")}</h4>
              <p>${_(u"Это больше, чем просто предоставление выбора варианта ответа. Студия предоставляет около десятка типовых задач для проверки студентов")}</p>
            </li>
          </ul>
        </div>
      </li>


    </ol>
  </section>
</div>

<div class="wrapper-content-cta wrapper">
  <section class="content content-cta">
    <header>
      <h2 class="sr">${_(u"Зарегистрироваться в студии!")}</h2>
    </header>

    <ul class="list-actions">
      <li class="action-item">
        <a href="${reverse('signup')}" class="action action-primary">${_(u"Регистрация &amp; создание курса в edX")}</a>
      </li>
      <li class="action-item">
        <a href="${reverse('login')}" class="action action-secondary">${_(u"Есть уже аккаунт студии? Войти")}</a>
      </li>
    </ul>
  </section>
</div>

<div class="content-modal" id="hiw-feature1">
  <h3 class="title">${_(u"Структура вашего курса")}</h3>
  <figure>
    <img src="/static/img/hiw-feature1.png" alt="" />
    <figcaption class="description">${_(u"Простой двухуровненый план для организации вашего курса. Перетащите, чтобы увидеть ваш курс с первого взгляда")}</figcaption>
  </figure>

  <a href="" rel="view" class="action action-modal-close">
    <i class="icon-remove-sign"></i>
    <span class="label">${_(u"close modal")}</span>
  </a>
</div>

<div class="content-modal" id="hiw-feature2">
  <h3 class="title">${_(u"Больше, чем просто лекции")}</h3>
  <figure>
    <img src="/static/img/hiw-feature2.png" alt="" />
    <figcaption class="description">${_(u"Быстрое создание видео, фрагментов текста, встроенного форума и различных типов проблем")}</figcaption>
  </figure>

  <a href="" rel="view" class="action action-modal-close">
    <i class="icon-remove-sign"></i>
    <span class="label">${_(u"Закрыть")}</span>
  </a>
</div>

<div class="content-modal" id="hiw-feature3">
  <h3 class="title">${_(u"Дата публикации")}</h3>
  <figure>
    <img src="/static/img/hiw-feature3.png" alt="" />
    <figcaption class="description">${_(u"Просто установите дату в разделе или подразделе, и студия опубликует ее для студентов")}</figcaption>
  </figure>

  <a href="" rel="view" class="action action-modal-close">
    <i class="icon-remove-sign"></i>
    <span class="label">${_(u"Закрыть")}</span>
  </a>
</div>
</%block>
