<%! from django.utils.translation import ugettext as _ %>

<%inherit file="base.html" />
<%block name="title">Общая информация</%block>
<%block name="bodyclass">is-signedin course schedule settings</%block>

<%namespace name='static' file='static_content.html'/>
<%!
from contentstore import utils
%>


<%block name="jsextra">
  <link rel="stylesheet" type="text/css" href="${static.url('js/vendor/timepicker/jquery.timepicker.css')}" />
  <script src="${static.url('js/vendor/timepicker/jquery.timepicker.js')}"></script>
  <script src="${static.url('js/vendor/timepicker/datepair.js')}"></script>
  <script src="${static.url('js/vendor/date.js')}"></script>

  <script type="text/javascript" src="${static.url('js/template_loader.js')}"></script>
  <script type="text/javascript" src="${static.url('js/models/course_relative.js')}"></script>
  <script type="text/javascript" src="${static.url('js/views/validating_view.js')}"></script>
  <script type="text/javascript" src="${static.url('js/views/settings/main_settings_view.js')}"></script>
  <script type="text/javascript" src="${static.url('js/models/settings/course_details.js')}"></script>

  <script type="text/javascript">
    $(document).ready(function(){

      // hilighting labels when fields are focused in
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").addClass("is-focused");
      }).blur(function() {
        $("label").removeClass("is-focused");
        });
      var model = new CMS.Models.Settings.CourseDetails();
      model.urlRoot = '${details_url}';
      model.fetch({
        success: function(model) {
          var editor = new CMS.Views.Settings.Details({
              el: $('.settings-details'),
              model: model
          });
          editor.render();
        },
        reset: true
      });
    });

  </script>
</%block>

<%block name="content">
<div class="wrapper-mast wrapper">
  <header class="mast has-subtitle">
    <h1 class="page-header">
      <small class="subtitle">Настройки</small>
      <span class="sr">&gt; </span>Общая информация
    </h1>
  </header>
</div>

<div class="wrapper-content wrapper">
  <section class="content">
    <article class="content-primary" role="main">
      <form id="settings_details" class="settings-details" method="post" action="">
        <section class="group-settings basic">
          <header>
            <h2 class="title-2">Базовая информация</h2>
            <span class="tip"></span>
          </header>

          <ol class="list-input">
            <li class="field text is-not-editable" id="field-course-organization">
              <label for="course-organization">Издатель</label>
              <input title="${_(u'This field is disabled: this information cannot be changed.')}" type="text" class="long" id="course-organization" value="[Course Organization]" readonly />
            </li>

            <li class="field text is-not-editable" id="field-course-number">
              <label for="course-number">Номер курса</label>
              <input title="${_(u'This field is disabled: this information cannot be changed.')}" type="text" class="short" id="course-number" value="[Course No.]" readonly>
            </li>

            <li class="field text is-not-editable" id="field-course-name">
              <label for="course-name">Название курса</label>
              <input title="${_(u'This field is disabled: this information cannot be changed.')}" type="text" class="long" id="course-name" value="[Course Name]" readonly />
            </li>
          </ol>

         ## <div class="note note-promotion note-promotion-courseURL has-actions">
         ##   <h3 class="title">${_(u"Course Summary Page")} <span class="tip">${_(u"(for student enrollment and access)")}</span></h3>
        ##    <div class="copy">
        ##      <p><a class="link-courseURL" rel="external" href="https:${utils.get_lms_link_for_about_page(course_location)}" />https:${utils.get_lms_link_for_about_page(course_location)}</a></p>
        ##    </div>

       ##     <ul class="list-actions">
       ##       <li class="action-item">
       ##         <a title="${_(u'Send a note to students via email')}" href="mailto:someone@domain.com?Subject=Enroll%20in%20${context_course.display_name_with_default}&body=The%20course%20&quot;${context_course.display_name_with_default}&quot;,%20provided%20by%20edX,%20is%20open%20for%20enrollment.%20Please%20navigate%20to%20this%20course%20at%20https:${utils.get_lms_link_for_about_page(course_location)}%20to%20enroll." class="action action-primary"><i class="icon-envelope-alt icon-inline"></i>${_(u"Invite your students")}</a>
       ##       </li>
       ##     </ul>
       ##   </div>

          % if not about_page_editable:
      ##    <div class="notice notice-incontext notice-workflow">
       ##     <h3 class="title">${_(u"Promoting Your Course with edX")}</h3>
       ##     <div class="copy">
       ##       <p>${_(u'Your course summary page will not be viewable until your course has been announced. To provide content for the page and preview it, follow the instructions provided by your <abbr title="Program Manager">PM</abbr> or Conrad Warre <a rel="email" class="action action-email" href="mailto:conrad@edx.org">(conrad@edx.org)</a>.')}</p>
       ##     </div>
      ##    </div>
          % endif
        </section>

        <hr class="divide" />

        <section class="group-settings schedule">
          <header>
            <h2 class="title-2">Расписание</h2>
            <span class="tip">Даты, определяющие время работы курса</span>
          </header>

          <ol class="list-input">
            <li class="field-group field-group-course-start" id="course-start">
              <div class="field date" id="field-course-start-date">
                <label for="course-start-date">Дата начала</label>
                <input type="text" class="start-date date start datepicker" id="course-start-date" placeholder="DD.MM.YYYY" autocomplete="off" />
                <span class="tip tip-stacked">Первый день активности курса</span>
              </div>

              <div class="field time" id="field-course-start-time">
                <label for="course-start-time">Время начала</label>
                <input type="text" class="time start timepicker" id="course-start-time" value="" placeholder="HH:MM" autocomplete="off" />
                <span class="tip tip-stacked" id="timezone"></span>
              </div>
            </li>

            <li class="field-group field-group-course-end" id="course-end">
              <div class="field date" id="field-course-end-date">
                <label for="course-end-date">Дата окончания</label>
                <input type="text" class="end-date date end" id="course-end-date" placeholder="DD.MM.YYYY" autocomplete="off" />
                <span class="tip tip-stacked">Последний день активности курса</span>
              </div>

              <div class="field time" id="field-course-end-time">
                <label for="course-end-time">Время окончания</label>
                <input type="text" class="time end" id="course-end-time" value="" placeholder="HH:MM" autocomplete="off" />
                <span class="tip tip-stacked" id="timezone"></span>
              </div>
            </li>
          </ol>

          % if about_page_editable:
          <ol class="list-input">
            <li class="field-group field-group-enrollment-start" id="enrollment-start">
              <div class="field date" id="field-enrollment-start-date">
                <label for="course-enrollment-start-date">Дата начала регистрации</label>
                <input type="text" class="start-date date start" id="course-enrollment-start-date" placeholder="DD.MM.YYYY" autocomplete="off" />
                <span class="tip tip-stacked">Первый день, когда студенты могут записаться на курс</span>
              </div>

              <div class="field time" id="field-enrollment-start-time">
                <label for="course-enrollment-start-time">Время начала регистрации</label>
                <input type="text" class="time start" id="course-enrollment-start-time" value="" placeholder="HH:MM" autocomplete="off" />
                <span class="tip tip-stacked" id="timezone"></span>
              </div>
            </li>

            <li class="field-group field-group-enrollment-end" id="enrollment-end">
              <div class="field date" id="field-enrollment-end-date">
                <label for="course-enrollment-end-date">Дата окончания регистрации</label>
                <input type="text" class="end-date date end" id="course-enrollment-end-date" placeholder="DD.MM.YYYY" autocomplete="off" />
                <span class="tip tip-stacked">Последний день, когда студенты могут записаться на курс</span>
              </div>

              <div class="field time" id="field-enrollment-end-time">
                <label for="course-enrollment-end-time">Время окончания регистрации</label>
                <input type="text" class="time end" id="course-enrollment-end-time" value="" placeholder="HH:MM" autocomplete="off" />
                <span class="tip tip-stacked" id="timezone"></span>
              </div>
            </li>
          </ol>
          % endif

          % if not about_page_editable:
          <div class="notice notice-incontext notice-workflow">
            <h3 class="title">${_(u"Эти даты не могут быть использованы для продвижения вашего курса")}</h3>
            <div class="copy">
              <p>${_(u'Эти даты влияют <strong> на то, когда ваши курсы будут показаны </strong>, но они <strong>не показываются на странице сводки курса </strong>. ')}</p>
            </div>
          </div>
          % endif
        </section>
        <hr class="divide" />
        % if about_page_editable:
            <section class="group-settings marketing">
              <header>
                <h2 class="title-2">Вводная информация</h2>
                <span class="tip">Информация для презентации курса студентам</span>
              </header>

              <ol class="list-input">
                <li class="field text" id="field-course-overview">
                  <label for="course-overview">О курсе</label>
                  <textarea class="tinymce text-editor" id="course-overview"></textarea>
                  <%def name='overview_text()'><%
                    a_link_start = '<a class="link-courseURL" rel="external" href="'
                    a_link_end = '">' + _("your course summary page") + '</a>'
                    a_link = a_link_start + utils.get_lms_link_for_about_page(course_location) + a_link_end
                    text = _("Introductions, prerequisites, FAQs that are used on %s (formatted in HTML)") % a_link
                    %>${text}</%def>
                ##  <span class="tip tip-stacked">${overview_text()}</span>
                </li>

                <li class="field video" id="field-course-introduction-video">
                  <label for="course-overview">Вводное видео</label>
                  <div class="input input-existing">
                    <div class="current current-course-introduction-video">
                      <iframe width="618" height="350" src="" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="actions">
                      <a href="#" class="remove-item remove-course-introduction-video remove-video-data"><span class="delete-icon"></span>${_(u"Удалить видео")}</a>
                    </div>
                  </div>

                  <div class="input">
                    <input type="text" class="long new-course-introduction-video add-video-data" id="course-introduction-video" value="" placeholder="ID видео с YouTube" autocomplete="off" />
                    <span class="tip tip-stacked">Введите ID видео с YouTube</span>
                  </div>
                </li>
              </ol>
            </section>

            <hr class="divide" />

            <section class="group-settings requirements">
              <header>
                <h2 class="title-2">Требования</h2>
                <span class="tip">Ожидания от студентов</span>
              </header>

              <ol class="list-input">
                <li class="field text" id="field-course-effort">
                  <label for="course-effort">Требуемое время в неделю</label>
                  <input type="text" class="short time" id="course-effort" placeholder="HH:MM" />
                  <span class="tip tip-inline">Время, потребущееся студентам для занятий</span>
                </li>
              </ol>
            </section>
        % endif
      </form>
    </article>
    <aside class="content-supplementary" role="complimentary">
     <div class="bit">
        <h3 class="title-3">Как настройки будут использоваться</h3>
        <p>${_(u"Настройки расписания вашего курса определяют, когда студенты смогут зарегистрироваться и начать прохождение курса.")}</p>

        <p>${_(u"Кроме того, данные указанные на этой странице, также используются в каталоге edX о курсах, которые студенты используют для выбора новых курсов")}</p>
      </div>

      <div class="bit">
      % if context_course:
      <% ctx_loc = context_course.location %>
      <%! from django.core.urlresolvers import reverse %>
        <h3 class="title-3">${_(u"Другие настройки курса")}</h3>
        <nav class="nav-related">
          <ul>
            <li class="nav-item"><a href="${reverse('contentstore.views.course_config_graders_page', kwargs={'org' : ctx_loc.org, 'course' : ctx_loc.course, 'name': ctx_loc.name})}">${_(u"Оценивание")}</a></li>
            <li class="nav-item"><a href="${reverse('manage_users', kwargs=dict(org=ctx_loc.org, course=ctx_loc.course, name=ctx_loc.name))}">${_(u"Команда курса")}</a></li>
            <li class="nav-item"><a href="${reverse('course_advanced_settings', kwargs={'org' : ctx_loc.org, 'course' : ctx_loc.course, 'name': ctx_loc.name})}">${_(u"Специализированные настройки")}</a></li>
          </ul>
        </nav>
      % endif
      </div>
    </aside>
  </section>
</div>
</%block>
