<%! from django.utils.translation import ugettext as _ %>
<%inherit file="base.html" />
<%! from django.core.urlresolvers import reverse %>

<%block name="title">${_(u"Регистрация")}</%block>
<%block name="bodyclass">not-signedin signup</%block>

<%block name="content">

<div class="wrapper-content wrapper">
  <section class="content">
    <header>
      <h1 class="title title-1">${_(u"Зарегистрироваться в cтудии")}</h1>
      <a href="${reverse('login')}" class="action action-signin">${_(u"Уже есть аккаунт в студии? Войдите")}</a>
    </header>

    <p class="introduction">${_(u"Готовы начать создание онлайн-курсов? Зарегистрируйтесь ниже и начните создание своего первого курса в edX  сегодня")}</p>

    <article class="content-primary" role="main">
      <form id="register_form" method="post" action="register_post">
        <div id="register_error" name="register_error" class="message message-status message-status error">
        </div>

        <fieldset>
          <legend class="sr">${_(u"Необходимая информация для регистрации")}</legend>

          <ol class="list-input">
            <li class="field text required" id="field-email">
              <label for="email">${_(u"E-mail")}</label>
              <input id="email" type="email" name="email" placeholder="e.g. jane.doe@gmail.com" />
            </li>

            <li class="field text required" id="field-password">
              <label for="password">${_(u"Пароль")}</label>
              <input id="password" type="password" name="password" />
            </li>

            <li class="field text required" id="field-username">
              <label for="username">${_(u"Логин")}</label>
              <input id="username" type="text" name="username" placeholder="e.g. janedoe" />
              <span class="tip tip-stacked">${_(u"Логин будет использоваться в публичных дискуссиях ваших курсов")}</span>
            </li>

            <li class="field text required" id="field-name">
              <label for="name">${_(u"Полное имя")}</label>
              <input id="name" type="text" name="name" placeholder="e.g. Jane Doe" />
            </li>

            <li class="field-group">
              <div class="field text" id="field-location">
                <label for="location">${_(u"Ваше местонахождение")}</label>
                <input class="short" id="location" type="text" name="location" />
              </div>

              <div class="field text" id="field-language">
                <label for="language">${_(u"Предпочитаемый язык")}</label>
                <input class="short" id="language" type="text" name="language" />
              </div>
            </li>

            <li class="field checkbox required" id="field-tos">
              <input id="tos" name="terms_of_service" type="checkbox" value="true" />
              <label for="tos">${_(u"Я согласен с условиями предоставления услуг")}</label>
            </li>
          </ol>
        </fieldset>

        <div class="form-actions">
          <button type="submit" id="submit" name="submit" class="action action-primary">${_(u"Создать аккаунт")}</button>
        </div>

        <!-- no honor code for CMS, but need it because we're using the lms student object -->
        <input name="honor_code" type="checkbox" value="true" checked="true" hidden="true">
      </form>
    </article>

    <aside class="content-supplementary" role="complimentary">
      <h2 class="sr">${_(u"Common Studio Questions")}</h2>

      <div class="bit">
        <h3 class="title-3">${_(u"Для кого создана студия?")}</h3>
        <p>${_(u"Студия сделана для каждого, кто хочет создавать онлайн-курсы на нашей платформе. Зачастую наши пользователи - преподаватели, ассистенты, персонал курса и члены учебных технологических групп")}</p>
      </div>

      <div class="bit">
        <h3 class="title-3">${_(u"Насколько технически подкованным я должен быть, чтобы создать курс в Студии?")}</h3>
        <p>${_(u"Студия разработана для простого использования практически любого человека, знакомого с основными сетевыми средами (Wordpress, Moodle и др.).  Знание программирования не требуется, но для некоторых расширенных функций технические знания могут быть полезны. Как всегда, мы здесь, чтобы помочь вам.")}</p>
      </div>

    </aside>
  </section>
</div>
</%block>

<%block name="jsextra">
  <script type="text/javascript">
    (function() {

      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").addClass("is-focused");
      }).blur(function() {
        $("label").removeClass("is-focused");
      });


      function getCookie(name) {
        return $.cookie(name);
      }

      // form validation
      function postJSON(url, data, callback) {
        $.ajax({type:'POST',
          url: url,
          dataType: 'json',
          data: data,
          success: callback,
          headers : {'X-CSRFToken':getCookie('csrftoken')}
        });
      }

      $('form#register_form').submit(function(e) {
        e.preventDefault();
        var submit_data = $('#register_form').serialize();

        postJSON('/create_account',
          submit_data,
          function(json) {
            if(json.success) {
              location.href = "${reverse('index')}";
            } else {
              $('#register_error').html(json.value).stop().addClass('is-shown');
            }
          }
        );
      });
    })(this)
  </script>
</%block>
