{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}
{% load url from future %}

{% block pagetitle %}Удалить статью{% endblock %}

{% block wiki_contents %}
  <section class="delete">
  <h1 class="page-header">Удалить "{{ article.current_revision.title }}"</h1>
  
  {% if cannot_delete_root %}
    <p class="lead">Нельзя удалить корневую статью</p>
    <p><a href="{% url 'wiki:get' path=urlpath.path article_id=article.id %}">Назад</a></p>
  {% else %}
  
    {% if cannot_delete_children %}
      
      <p class="alert alert-error"><strong>Недостаточно прав для удаления</strong></p>
      
    {% endif %}
      
    {% if delete_children %}

      <p class="lead">Вы удаляете статью, вместе с этим вы удалите и все статьи-потомки!</p>
      
      <h2>Статьи, которые будут удалены</h2>
      
      <ul>
        {% for child in delete_children %}
        <li><a href="{% url 'wiki:get' article_id=child.article.id %}" target="_blank">{{ child.article }}</a></li>
        {% if delete_children_more %}
        <li><em>и это не всё!</em></li>
        {% endif %}
        {% endfor %}
      </ul>
    
    {% endif %}
    
    {% if not cannot_delete_children %}
    <p class="lead">Вы удаляете статью, подтвердите</p>

    <form method="POST" class="form-horizontal">
      {% wiki_form delete_form %}
      <script type="text/javascript">
        $('#id_revision').val('{{ article.current_revision.id }}');
      </script>
      <div class="form-actions">
          <button type="submit" name="save_changes" class="btn btn-danger btn-large">
            <span class="icon-plus"></span>
            Удалить статью
          </button>
          <a href="{% url 'wiki:get' path=urlpath.path article_id=article.id %}" class="btn btn-large back">
            <span class="icon-circle-arrow-left"></span>
            Назад
          </a>
      </div>  
    </form>
    {% endif %}
 
  {% endif %}
  </section>

{% endblock %}

