.b-popupa_theme_black .b-popupa__content
{
    color: #fefefe;
    background: #4b4b4b;
}

.b-popupa_theme_black .b-popupa__tail
{
    background-image: url(b-popupa_theme_black.png);
}

.b-popupa_theme_black .b-popupa__shadow
{
    border-color: #000;
}

.b-popupa_theme_black a.b-link
{
    color: #759cce !important;
}
