.b-popupa_theme_000000 .b-popupa__content
{
    color: #fff;
    background: #000;
}

.b-popupa_theme_000000 .b-popupa__tail
{
    background-image: url(b-popupa_theme_000000.png);
}

.b-popupa_theme_000000 .b-popupa__shadow
{
    border-color: #000;
}

.b-popupa_theme_000000 a.b-link
{
    color: #fff !important;
}