<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="title"><title>${_("Terms of Service")}</title></%block>

<section class="static-container tos">


    <h1>Пользовательское соглашение</h1>

    <p style="text-align: right"><span>Версия №1 от 01.02.2014 года</span></p>

    <p style="text-align: justify"><span>Текст настоящего пользовательского
    соглашения, постоянно размещенный в сети Интернет по сетевому адресу


    <a href = "http://pelic.ru/tos">http://pelic.ru/tos</a>
    содержит все существенные
    условия соглашения и является предложением Общества с ограниченной
    ответственностью «Центр образования и информационных технологий» заключить
    соглашение с третьим лицом, использующим сайт в сети
    Интернет</span><span>&nbsp;


    <a href = "http://pelic.ru">http://pelic.ru</a>

            на указанных
    в тексте соглашения условиях. Таким образом, текст настоящего
    пользовательского соглашения является публичной офертой в соответствии с
    пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации.</span></p>

    <p style="text-align: justify"><span>Надлежащим акцептом настоящей оферты в
    соответствии со статьей 438 Гражданского Кодекса Российской Федерации
    считается последовательное осуществление третьим лицом следующих
    действий:</span></p>

    <ol>
        <li>
            <p style="text-align: justify"><span>Ознакомление с условиями
            пользовательского соглашения и всех приложений к нему;</span></p>
        </li>

        <li>
            <p style="text-align: justify"><span>Внесение достоверных и
            актуальных сведений, включая уникальные логин (адрес электронной
            почты) и пароль, в регистрационную форму, расположенную во вкладке
            «Зарегистрироваться» в сети Интернет по сетевому
            адресу</span>
    <a href = "http://pelic.ru/register">http://pelic.ru/register</a><span>;</span></p>
        </li>

        <li>
            <p style="text-align: justify"><span>Проставление символа в
            специальном поле под заголовком «Я принимаю условия
            пользовательского соглашения» в регистрационной форме;</span></p>
        </li>

        <li>
            <p style="text-align: justify"><span>Нажатие кнопки
            «Зарегистрироваться» в заполненной регистрационной
            форме;</span></p>
        </li>

        <li>
            <p style="text-align: justify"><span>Подтверждение адреса
            электронной почты путем перехода по ссылке, направленной на
            указанный при регистрации адрес электронной почты.&nbsp;</span></p>
        </li>
    </ol>

    <p style="text-align: justify"><span>С момента перехода по ссылке,
    направленной на указанный при регистрации адрес электронной почты,
    регистрация на Сайте считается завершенной, а условия настоящего
    пользовательского соглашения – обязательными для зарегистрированного
    лица.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">ВНИМАНИЕ:</span><span>&nbsp;</span><span>Если Вы не
    согласны с условиями настоящего пользовательского соглашения, не
    регистрируйтесь на сайте.
    <a href = "http://pelic.ru">http://pelic.ru</a> и не
    используйте его сервисы.</span></p>

    <p style="padding-top: 40px;"><span style="font-size:2em">Пользовательское
    соглашение</span></p>

    <p style="text-align: justify"><span>Российская Федерация, город
    Москва</span></p>

    <p style="text-align: justify"><span>Общество с ограниченной
    ответственностью «Центр образования и информационных технологий» с одной
    стороны, и акцептовавшее оферту, размещенную в сети Интернет по сетевому
    адресу <a href = "http://pelic.ru/tos">http://pelic.ru/tos</a>, третье лицо, заключили
    настоящее пользовательское соглашение о нижеследующем.</span></p>

    <p style="text-align: justify"><br></p>
    <p><span style="font-size:1.5em">1.&nbsp;Термины и определения</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">1.1.</span><span>&nbsp;</span><span>В настоящем
    пользовательском соглашении, если из текста прямо не вытекает иное,
    следующие термины будут иметь указанные ниже значения:</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">«Администратор» -&nbsp;</span><span>Общество с
    ограниченной ответственностью «Центр образования и информационных
    технологий», юридическое лицо, зарегистрированное по законодательству
    Российской Федерации, ОГРН &nbsp;1107746460898, ИНН 7703722267, адрес
    местонахождения 123056 г. Москва, Улица Грузинская Б. дом.42, пом.1 адрес
    электронной почты</span> <span lang=
    "en-US">team</span><span>@</span><span lang=
    "en-US">pelic</span><span>.</span><span lang=
    "en-US">ru</span><span>.</span></p>

    <p style="text-align: justify"><span style="font-weight: bold">«Занятие»
    -&nbsp;</span><span>Содержащийся на Сайте аудиовизуальный, текстовый,
    интерактивный, потоковый материал, представляющий собой видео-лекции (как в
    реальном времени (вебинары), так и в записи)в записи по определенным темам
    определенных дисциплин определенного уровня(за определенные классы),
    конспекты таких лекций, задачи и тесты к таким лекциям и
    аппаратно-программный комплекс по проверке решения таких задач и
    тестов.<br>
    Занятия могут содержать вебинары (их записи)видео-лекции, конспекты,
    задачи, тесты, в любом их сочетании. Информация о содержании Занятия
    доступна в программе Занятий по Курсу и на странице оплаты соответствующего
    Занятия по Курскурсу и на странице информации о Курсеу.</span></p>

    <p style="text-align: justify"><span style="font-weight: bold">«Конечный
    потребитель» -&nbsp;</span><span>Несовершеннолетний, пользующийся Личным
    кабинетом с разрешения своего родителя или законного представителя,
    зарегистрированного в качестве Пользователей.&nbsp;</span></p>

    <p style="text-align: justify"><span style="font-weight: bold">«Курс»
    -&nbsp;</span><span>Совокупность Занятий по определенным дисциплинам
    определенного уровня знаний уровня (за определенные классы, содержащаяся на
    Сайте, предназначенная для обучения Пользователя, либо Конечного
    потребителя с целью подготовки к сдаче Государственной итоговой аттестации
    и/или Единого государственного экзамена по такой дисциплине, а также в
    общеобразовательных целях.</span></p>

    <p style="text-align: justify"><span style="font-weight: bold">«Личный
    кабинет» -&nbsp;</span><span>Совокупность защищенных страниц Сайта,
    созданных в результате регистрации Пользователя, используя которые
    Пользователь имеет возможность получать доступ к Курсам и Занятиям,
    информации о них, возможность приобретения платных Занятий Курсов и
    добавления бесплатных, возможность формирования индивидуального учебного
    плана посредством добавления Курсов и Занятий, возможность изменения
    сведений о Пользователе, пароля, &nbsp;а также осуществления иных действий.
    Доступ в Личный кабинет осуществляется путем ввода учетных данных в
    предусмотренные для этого поля на Сайте.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">«Пользователь» -&nbsp;</span><span>Лицо, заключившее с
    Администратором Соглашение, путем акцепта оферты, расположенной в сети
    Интернет по сетевому адресу.
    <a href = "http://pelic.ru/tos">http://pelic.ru/tos</a>. Пользователями могут быть
    следующие лица:</span></p>

    <div style="margin-left: 2em">
        <ol>
            <li>
                <p style="text-align: justify"><span>лица, являющиеся
                дееспособными в соответствии с личным законом, согласно статье
                1195 Гражданского кодекса Российской
                Федерации;&nbsp;</span></p>
            </li>

            <li>
                <p style="text-align: justify"><span>граждане Российской
                Федерации в возрасте от 16 до 18 лет, объявленные полностью
                дееспособными;</span></p>
            </li>

            <li>
                <p style="text-align: justify"><span>родители и законные
                представители лиц, не достигших возраста 18 лет.</span></p>
            </li>
        </ol>
    </div>

    <p style="text-align: justify"><span style="font-weight: bold">«Сайт»
    -&nbsp;</span><span>Совокупность информации, текстов, графических
    элементов, дизайна, изображений, фото и видеоматериалов и иных результатов
    интеллектуальной деятельности, а также программ для ЭВМ, содержащихся в
    информационной системе, обеспечивающей доступность такой информации в сети
    Интернет по сетевому
    адресу <a href = "http://pelic.ru">http://pelic.ru</a>.
    Сайт является Интернет-ресурсом, предназначенным для обучения, в том числе,
    в общеобразовательных целях, и подготовки Пользователей к сдаче
    Государственной итоговой аттестации и/или Единых государственных экзаменов,
    а также распространения учебных материалов среди
    Пользователей.&nbsp;</span></p>

    <p style="text-align: justify"><span style="font-weight: bold">«Соглашение»
    -&nbsp;</span><span>Настоящее пользовательское соглашение.</span></p>

    <p style="text-align: justify"><span style="font-weight: bold">«Стороны»
    -&nbsp;</span><span>Администратор и Пользователь.&nbsp;</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">1.2.</span><span>&nbsp;</span><span>Все остальные
    термины и определения, встречающиеся в тексте Соглашения, толкуются
    Сторонами в соответствии с законодательством Российской Федерации и
    сложившимися в сети Интернет обычными правилами толкования соответствующих
    терминов.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">1.3.</span><span>&nbsp;</span><span>Названия заголовков
    (статей) Соглашения предназначены исключительно для удобства пользования
    текстом Соглашения и буквального юридического значения не имеют.</span></p>

    <p style="text-align: justify"><br></p>

    <p style="text-align: justify"><span style="font-size:1.5em">2. Предмет
    Соглашения</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">2.1.</span><span>&nbsp;</span><span>Администратор
    предоставляет Пользователю возможность доступа к Сайту, Занятиям и Курсам,
    а также формированию индивидуального учебного плана из Занятий и Курсов с
    целью подготовки к сдаче Государственной итоговой аттестации и/или Единого
    государственного экзамена, а также в общеобразовательных целях.
    Пользователь обязуется использовать Сайт, Занятия и Курсы на условиях
    Соглашения, а также оплачивать доступ к ЗанятиямКурсам.</span></p>

    <p><br></p>

    <p><span style="font-size:1.5em">3. Порядок регистрации на Сайте</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">3.1.</span><span>&nbsp;</span><span>Администратор
    предоставляет Пользователю доступ к информации о Сайте, Занятиях и Курсах
    до регистрации Пользователя на Сайте. После регистрации Пользователю
    предоставляется доступ к бесплатным Занятиям и Курсам, возможность
    приобретения доступа к платным Занятиям Курсам и формирования
    индивидуального учебного плана в Личном кабинете.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">3.2.&nbsp;</span><span>При регистрации Пользователи,
    являющиеся родителями и законными представителями Конечных потребителей
    Сайта, указывают в регистрационной форме информацию о таких Конечных
    потребителях.&nbsp;</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">3.3.&nbsp;</span><span>По окончанию регистрации
    Пользователю предоставляется доступ к Личному кабинету по учетным данным –
    адресу электронной почты и паролю.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">3.4.</span><span>&nbsp;</span><span>Пользователь
    выбирает пароль при регистрации на Сайте. Пароль может быть изменен
    Пользователем в любое время после регистрации.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">3.5.</span><span>&nbsp;</span><span>На Пользователе
    лежит обязанность обеспечить безопасность и сохранность пароля перед
    третьими лицами, за исключением Конечных потребителей. При утрате, либо
    компрометации пароля, а также в случае незаконного завладения третьими
    лицами доступа к Личному кабинету, Пользователь обязан незамедлительно
    сообщить об этом Администратору на адрес электронной почты
    &nbsp;</span><span lang="en-US">team</span><span>@</span><span lang=
    "en-US">pelic</span><span>.</span><span lang="en-US">ru</span><span>. До
    момента поступления такого сообщения все действия, совершенные с Личного
    кабинета Пользователя будут считаться совершенными самим
    Пользователем.</span></p>

    <p style="text-align: justify"><br></p>

    <p style="text-align: justify"><span style="font-size:1.5em">4. Порядок
    пользования Сайтом&nbsp;</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">4.1.</span><span>&nbsp;</span><span>После успешной
    процедуры регистрации Пользователь получает доступ к Личному кабинету, с
    возможностью добавления и приобретения Занятий и Курсов.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">4.2.&nbsp;</span><span>После завершения регистрации
    Пользователь получает возможность формировать индивидуальный &nbsp;учебный
    план, добавляя и/или приобретая Занятия и Курсы через Личный кабинет. При
    этом Пользователю доступна информация о преподавателеях по выбранному Курсу
    и/или Занятию, количеству и темам Занятий в рамках Курса, платности либо
    бесплатности ЗанятийКурса, и иная информация, предоставляемая и
    отображаемая по каждому Курсу и Занятию.&nbsp;</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">4.3.</span><span>&nbsp;</span><span>В рамках
    сформированного учебного плана, Пользователю предоставляется возможность
    получения доступа:</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">4.3.1.&nbsp;</span><span>к прошедшим Занятиям по
    выбранным Курсам, в том числе к записям Занятийвидео-лекций, конспектам,
    задачам и тестам &nbsp;Занятий, если соответствующие Занятия содержат такие
    записи, конспекты, задачи и тесты.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">4.3.2.</span><span>&nbsp;</span><span>к будущим
    Занятиям по выбранным Курсам в виде вебинара. Это означает, что
    Пользователь может подключиться просматриватьк Занятиюе, начиная с в датуы
    и времяени его проведенияпубликации, указанных на странице информации о
    Курсе, либое в программе Занятий по Курсуновостях Курса и в общем
    расписании Занятий по Курсу в Личном кабинете., участвовать в Занятии
    интерактивно, в том числе с возможностью задавать вопросы преподавателю в
    режиме реального времени.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">4.4.</span><span>&nbsp;</span><span>Возможность
    добавления и/или приобретения Курсов через Личный кабинет
    &nbsp;предоставляется на период между датой начала регистрации и датой
    окончания регистрации на соответствующие Курсы. Даты начала и окончания
    регистрации устанавливаются для каждого отдельного Курса и доступны на
    странице с информацией об этом Курсе.</span></p>

    <p style="text-align: justify"><span>4.5. Возможность просмотра Занятий по
    приобретенным Курсам предоставляется на период между датой начала и датой
    окончания соответствующих Курсов. Даты начала и окончания устанавливаются
    для каждого отдельного Курса и доступны на странице с информацией об этом
    Курсе.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">4.6.</span><span>&nbsp;</span> <span>Для использования
    определенных Занятий и Курсов Пользователь обязуется соблюдать технические
    требования Администратора, размещенные на Сайте.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">4.7.</span><span>&nbsp;</span><span>Администратор может
    добавлять в Курс новые Занятия и исключать из Курса добавленные Занятия,
    равно как и изменять темы отдельных Занятий, даты и время их проведения и
    продолжительностьпубликации., а также, в случае необходимости, заменять
    преподавателя по отдельным Занятиям. Информация о таких изменениях
    публикуется на Сайте в разделе «Обновления» соответствующего Курса
    непосредственно до начала проведения Занятия, в котором произошли такие
    изменения.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">4.8.</span><span>&nbsp;</span><span>Пользователь обязан
    пользоваться Сайтом и Личным кабинетом добросовестно, не нарушая
    законодательство Российской Федерации, права и свободы третьих лиц, нормы
    морали и нравственности. В случае необходимости Пользователь должен
    обеспечить соблюдение законодательства Российской Федерации, норм морали и
    нравственности Конечными потребителями Сайта.</span></p>

    <p style="text-align: justify"><br></p>

    <p style="text-align: justify"><span style="font-size:1.5em">5.
    Интеллектуальная собственность и ограничения при пользовании
    Сайтом</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">5.1.</span><span>&nbsp;</span><span>Сайт содержит
    результаты интеллектуальной деятельности, принадлежащие Администратору, его
    аффилированным лицам и другим связанным сторонам, спонсорам, партнерам,
    представителям, всем прочим лицам, действующим от имени Администратора, и
    другим третьим лицам.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">5.2.</span><span>&nbsp;</span><span>Используя Сайт,
    Пользователь признает и соглашается с тем, что все содержимое Сайта и
    структура содержимого Сайта защищены авторским правом, правом на товарный
    знак и другими правами на результаты интеллектуальной деятельности, и что
    указанные права являются действительными и охраняются во всех формах, на
    всех носителях и в отношении всех технологий, как существующих в настоящее
    время, так и разработанных или созданных впоследствии. Никакие права на
    любое содержимое Сайта, включая, помимо прочего, аудиовизуальные
    произведения, конспекты занятий, методические материалы, товарные знаки не
    переходят к Пользователю в результате пользования Сайтом и заключения
    Соглашения.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">5.3.</span><span>&nbsp;</span><span>Без ущерба для
    универсального характера вышеизложенных положений, Пользователь признает,
    что Сайт содержит результаты интеллектуальной деятельности, охраняемые
    права и прочие материалы третьих лиц, и что такие права принадлежат
    соответствующим владельцам, в том числе, Администратору. Пользователю
    запрещается копировать, модифицировать, изменять, удалять, дополнять,
    публиковать, передавать содержащиеся на Сайте объекты исключительных и
    личных неимущественных прав, создавать производные работы, изготавливать
    или продавать продукты на их основе, воспроизводить, отображать или любым
    другим образом эксплуатировать или использовать такие права без прямого
    разрешения их владельцев.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">5.4.</span><span>&nbsp;</span><span>Во избежание
    сомнений, Пользователю запрещается:</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">5.4.1.</span><span>&nbsp;</span><span>копировать и/или
    распространять какую-либо информацию (включая части и компоненты Занятий),
    полученную на Сайте, кроме случаев, когда такая функция прямо предусмотрена
    на Сайте;&nbsp;</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">5.4.2.</span><span>&nbsp;</span><span>использовать
    информацию, полученную на Сайте для осуществления коммерческой
    деятельности, извлечения прибыли, либо для использования противоречащим
    закону способом;</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">5.4.3.</span><span>&nbsp;</span><span>копировать, либо
    иным способом использовать программную часть Сайта, а также его
    дизайн;</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">5.4.4.&nbsp;</span><span>размещать на Сайте
    персональные данные третьих лиц, без их согласия, в том числе домашние
    адреса, телефоны, паспортные данные, адреса электронной почты;</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">5.4.5.&nbsp;</span><span>размещать на Сайте
    коммерческую рекламу, коммерческие предложения, агитационную информацию и
    любую другую навязчивую информацию, кроме случаев, когда размещение такой
    информации согласовано с Администратором;</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">5.4.6.</span><span>&nbsp;</span><span>изменять каким бы
    то ни было способом программную часть Сайта, совершать действия,
    направленные на изменение функционирования и работоспособности
    Сайта;</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">5.4.7.</span><span>&nbsp;</span><span>оскорблять и иным
    образом нарушать права и свободы других пользователей Сайта, третьих лиц, а
    также групп лиц.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">5.5.</span><span>&nbsp;</span><span>При цитировании
    материалов Сайта, включая контент, содержащийся в Занятиях и Курсах,
    Пользователь обязуется указывать ссылку на Сайт.</span></p>

    <p style="text-align: justify"><br></p>

    <p style="text-align: justify"><span style="font-size:1.5em">6. Стоимость
    Занятий и порядок оплаты</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">6.1.</span><span>&nbsp;</span><span>Администратор
    устанавливает стоимость всего Курса путем публикации такой стоимости на
    странице с информацией о Курсе.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">6.2.</span><span>&nbsp;</span><span>Стоимость Курсов
    может изменяться по решению Администратора. При этом Пользователи,
    оплатившие Курсы по определенной цене, в случае изменения этой цены в
    дальнейшем, не производят каких-либо доплат в отношении таких приобретенных
    Курсов.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">6.3.&nbsp;</span><span>Приобретение всего Курса
    осуществляется единовременно (отдельные Занятия приобрести
    невозможно).</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">6.4.</span><span>&nbsp;</span><span>Оплата может
    производиться:</span></p>

    <div start="6" style="margin-left: 4em">
        <ol>
            <li>
                <p style="text-align: justify"><span>посредством провайдера
                электронной системы платежей «ЯНДЕКС.ДЕНЬГИ», позволяющего в
                реальном времени через сеть Интернет оплачивать Занятия
                предусмотренными системой «ЯНДЕКС.ДЕНЬГИ» способами.</span></p>
            </li>

            <li>
                <p style="text-align: justify"><span>Посредством перечисления
                средств через банки по квитанциям.</span></p>
            </li>
        </ol>
    </div>

    <p style="text-align: justify"><span style=
    "font-weight: bold">6.5.&nbsp;</span><span>Обязательства по оплате
    считаются исполненными Пользователем, в случае положительного результата
    авторизации платежа в системе «ЯНДЕКС.ДЕНЬГИ» или фактического перечисления
    средств, подтвержденного платежным документом. Доказательством совершения
    оплаты служит информация системы платежей «ЯНДЕКС.ДЕНЬГИ» о совершенном
    платеже, а также предъявление платежного документа непосредственно
    представителю Администратора или через электронные каналы связи (путем
    отправки скана или фотографии квитанции на адрес</span> <span lang=
    "en-US">team</span><span>@</span><span lang=
    "en-US">pelic</span><span>.</span><span lang=
    "en-US">ru</span><span>).</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">6.6.</span><span>&nbsp;</span><span>Администратор не
    контролирует аппаратно-программный комплекс системы платежей
    «ЯНДЕКС.ДЕНЬГИ» и не несет ответственности за ошибки в таком
    аппаратно-техническом комплексе. &nbsp;Если в результате таких ошибок
    произошло списание денежных средств Пользователя, но платеж не был
    авторизован системой «ЯНДЕКС.ДЕНЬГИ», обязанности по возврату денежных
    средств Пользователю лежат на провайдере электронной системы платежей
    «ЯНДЕКС.ДЕНЬГИ».</span></p>

    <p style="text-align: justify"><br></p>

    <p style="text-align: justify"><span style="font-size:1.5em">7.
    Персональные данные и их использование</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">7.1.</span><span>&nbsp;</span><span>Пользователь дает
    свое согласие Администратору на обработку персональных данных,
    предоставленных при регистрации, а также предоставленной Пользователем в
    Личном кабинете после регистрации, а именно:</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">7.1.1.</span><span>&nbsp;</span><span>адрес электронной
    почты,</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">7.1.2.</span><span>&nbsp;</span><span>фамилия, имя,
    отчество</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">7.1.3.</span><span>&nbsp;</span><span>год
    рождениякласс,</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">7.1.4.</span><span>&nbsp;</span><span>контактный
    телефонпол</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">7.1.5.&nbsp;</span><span>изображение.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">7.2.&nbsp;</span><span>Обработка персональных данных
    означает запись, систематизацию, накопление, хранение, уточнение
    (обновление, изменение), извлечение, использование, передачу
    (распространение, предоставление, доступ), обезличивание, блокирование,
    удаление, уничтожение персональных данных, не подпадающих под специальные
    категории, на обработку которых, согласно действующему законодательству
    Российской Федерации, требуется письменное согласие
    Пользователя.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">7.3.&nbsp;</span><span>Обработка персональных данных
    производится в целях обеспечения Пользователя либо Конечного потребителя
    обратной связью при использовании Курсов и Занятий, а также в целях
    направления на указанный Пользователем при регистрации адрес электронной
    почты информационных и рекламных сообщений.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">7.4.&nbsp;</span><span>Пользователь может в любое время
    отозвать согласие на обработку персональных данных, направив Администратору
    соответствующее уведомление на адрес, указанный в пункте 1.1 Соглашения
    заказным письмом с уведомлением о вручении.&nbsp;</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">7.5.</span><span>&nbsp;</span><span>Сайт не является
    общедоступным источником персональных данных. При этом в случае совершения
    Пользователем определенных действий его персональные данные могут стать
    доступны неопределенному кругу лиц. Если Пользователь не желает делать свои
    персональные данные общедоступными, ему следует воздержаться от следующих
    действий: опубликования комментариев и отзывов на Сайте, ведения дискуссий
    в чате на Сайте.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">7.6.&nbsp;</span><span>Пользователь дает согласие на
    получение рекламных материалов от Администратора, либо от иных лиц по
    поручению Администратора, на адрес электронной почты и контактный телефон,
    указанные Пользователем при регистрации на Сайте.&nbsp;<br>
    Согласие на получение рекламных материалов может быть отозвано
    Пользователем в любое время путем направления Администратору
    соответствующего уведомления на адрес, указанный в пункте 1.1 Соглашения
    заказным письмом с уведомлением о вручении. После получения такого
    уведомления Администратор прекращает направлять на указанный Пользователем
    при регистрации адрес электронной почты сообщения с рекламными
    материалами.</span></p>

    <p style="text-align: justify"><span>7.7. Пользователь дает свое согласие
    на использование его изображения в качестве фотографии Пользователя
    (аватара) Администратором в целях обработки его персональных данных, как то
    предусмотрено пунктом 7.2 Соглашения, на безвозмездной основе.<br>
    Пользователь обязуется воздержаться от использования изображений третьих
    лиц в качестве фотографии Пользователя (аватара) на Сайте.</span></p>

    <p style="text-align: justify"><br></p>

    <p style="text-align: justify"><span style="font-size:1.5em">8.
    Ответственность</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">8.1.</span><span>&nbsp;</span><span>В случае нарушения
    Пользователем условий Соглашения, законодательства Российской Федерации,
    норм морали и нравственности, либо технических требований Администратор
    вправе заблокировать или удалить Личный кабинет Пользователя, запретить
    либо ограничить доступ с использованием Личного кабинета Пользователя к
    определенным или всем функциям Сайта и/или Курсам, ограничить возможность
    использовать чат Сайта и интерактивное голосовое общение Пользователя с
    преподавателем во время проведения вебинара без объяснения
    причин..</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">8.2.&nbsp;</span><span>В случаях, предусмотренных
    пунктом 8.1 Соглашения, за Пользователем сохраняется доступ к оплаченным
    Курсам, при этом доступ к комментированию и внесению записей с помощью чата
    и использованию чата блокируется. По решению Администратора Пользователю
    также может быть заблокирован доступ к Курсам, в том числе бесплатным,
    которые не были добавлены Пользователем в Личном кабинете при формировании
    учебного плана.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">8.3.&nbsp;</span><span>При выявлении случаев
    предоставления Пользователем доступа к Личному кабинету третьим лицам, не
    являющимся Конечными потребителями, Администратор по своему выбору
    применяет меры, предусмотренные пунктом 8.1 Соглашения.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">8.4.&nbsp;</span><span>Администратор не отвечает за
    работоспособность Сайта и не гарантирует его бесперебойной работы.
    Администратор также не гарантирует сохранности информации, размещенной на
    Сайте и возможности бесперебойного доступа к Занятиям, Курсам и иным
    материалам.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">8.5.</span><span>&nbsp;</span><span>Пользователь
    использует Сайт в том виде, в каком он представлен, на собственный риск.
    Администратор не гарантирует Пользователю достижения каких-либо результатов
    вследствие использования Сайта.</span></p>

    <p style="text-align: justify"><br></p>

    <p style="text-align: justify"><span style="font-size:1.5em">9. Особые
    условия</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">9.1.&nbsp;</span><span>Сайт может содержать ссылки на
    другие сайты в сети Интернет (сайты третьих лиц). Указанные третьи лица и
    их контент не проверяются Администратором на соответствие тем или иным
    требованиям (достоверности, полноты, законности и т.п.). Администратор не
    несет ответственности за любую информацию, материалы, размещенные на сайтах
    третьих лиц, к которым Пользователь получает доступ с использованием Сайта,
    в том числе, за любые мнения или утверждения, выраженные на сайтах третьих
    лиц, рекламу и т.п., а также за доступность таких сайтов или контента и
    последствия их использования Пользователем.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">9.2.</span><span>&nbsp;</span><span>Администратор не
    гарантирует, что Сайт соответствует требованиям Пользователя, что доступ к
    Сайту будет предоставляться непрерывно, быстро, надежно и без
    ошибок.</span></p>

    <p style="text-align: justify"><span>Программно-аппаратные ошибки как на
    стороне Администратора, так и на стороне Пользователя, приведшие к
    невозможности получения Пользователем доступа к Сайту и/или Занятиям и
    Курсам, являются обстоятельствами непреодолимой силы, и основанием
    освобождение от ответственности за неисполнение обязательств
    Администратором по Соглашению.</span></p>

    <p style="text-align: justify"><br></p>

    <p style="text-align: justify"><span style="font-size:1.5em">10. Порядок
    разрешения споров</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">10.1.&nbsp;</span><span>Все споры, разногласия и
    претензии, которые могут возникнуть в связи с исполнением, расторжением или
    признанием недействительным Соглашения, Стороны будут стремиться решить
    путем переговоров. Сторона, у которой возникли претензии и/или разногласия,
    направляет другой Стороне сообщение с указанием возникших претензий и/или
    разногласий.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">10.2.&nbsp;</span><span>В случае если ответ на
    сообщение не будет получен направившей сообщение Стороной в течение 30
    (тридцати) рабочих дней с даты направления соответствующего сообщения, либо
    если Стороны не придут к соглашению по возникшим претензиям и/или
    разногласиям, спор подлежит разрешению в судебном порядке по месту
    нахождения Администратора.</span></p>

    <p style="text-align: justify"><br></p>

    <p style="text-align: justify"><span style="font-size:1.5em">11. Изменение
    условий Соглашения</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">11.1.</span><span>&nbsp;</span><span>Администратор
    вправе в одностороннем порядке изменять условия Соглашения, при этом такие
    изменения вступают в силу по истечении 3 (трех) дней с момента
    опубликования новой версии Соглашения.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">11.2.&nbsp;</span><span>При каждом последующем
    посещении Сайта до начала пользования Личным кабинетом Пользователь
    обязуется знакомиться с новой версией Соглашения. &nbsp;Продолжение
    использования Сайта и Личного кабинета будет означать согласие Пользователя
    с условиями новой версии Соглашения.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">11.3.</span><span>&nbsp;</span><span>Если Пользователь
    не согласен с условиями новой версии Соглашения, он прекращает пользоваться
    Сайтом.&nbsp;</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">11.4.&nbsp;</span><span>В том случае, если
    Пользователь, оплативший, но еще не прошедший участие в Занятиях
    (вебинарах) и/или предстоящих Курсах, либо добавивший бесплатные Курсы, не
    согласен с новой версией Соглашения, то такой Пользователь обязан уведомить
    об этом Администратора, отправив сообщение на адрес электронной
    почты</span> <span lang="en-US">team</span><span>@</span><span lang=
    "en-US">pelic</span><span>.</span><span lang="en-US">ru</span><span>. В
    этом случае Пользователь может продолжать пользоваться Личным кабинетом
    только для просмотра Курсов. По завершении оплаченных Курсов Пользователь
    обязан прекратить пользоваться Сайтом или согласится с новой версией
    Соглашения. Использование Личного кабинета для добавления комментариев,
    общения в чате и добавления и/или приобретения Занятий будет означать
    принятие Пользователем условий новой версии Соглашения.</span></p>

    <p style="text-align: justify"><br></p>

    <p style="text-align: justify"><span style="font-size:1.5em">12.
    Заключительные положения</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">12.1.</span><span>&nbsp;</span><span>Соглашение и все
    возникающие из него правоотношения регулируются законодательством
    Российской Федерации без учета его коллизионных норм. Все возникающие споры
    разрешаются в соответствии с законодательством Российской
    Федерации.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">12.2.&nbsp;</span><span>Признание судом какого-либо
    положения Соглашения недействительным или не подлежащим принудительному
    исполнению не влечет недействительности иных положений
    Соглашения.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">12.3.</span><span>&nbsp;</span><span>Бездействие со
    стороны Администратора в случае нарушения кем-либо из Пользователей
    положений Соглашения не лишает Администратора права предпринять позднее
    соответствующие действия в защиту своих интересов и защиту интеллектуальных
    прав на охраняемые в соответствии с законодательством материалы Сайта и
    контент Занятий и Курсов.</span></p>

    <p style="text-align: justify"><span style=
    "font-weight: bold">12.4.&nbsp;</span><span>Пользователь подтверждает, что
    ознакомился со всеми положениями Соглашения, понимает и принимает
    их.</span></p>

</section>