       <div class="b-foot" role="contentinfo">
            <table class="b-foot__layout">
                <tr>
                    <td class="b-foot__layout-gap"><i class="b-foot__layout-gap-i"></i>
                    </td>
                    <td class="b-foot__layout-column"></td>
                    <td class="b-foot__layout-column b-foot__layout-column_type_center">
                        <div class="b-dropdowna b-dropdowna_is-bem_yes b-lang-switcher i-bem" onclick="return {'b-dropdowna':{},'b-lang-switcher':{}}"><span class="b-dropdowna__switcher"><span class="b-lang-switcher__lang b-link b-link_pseudo_yes i-bem" onclick="return {'b-link':{}}"><img class="b-country-flag b-icon b-lang-switcher__flag b-country-flag_size-16_ru" src="//yandex.st/lego/_/La6qi18Z8LwgnZdsAr1qy1GwCwo.gif" alt="Ru"/><span class="b-lang-switcher__lang-name">Ru</span></span>
                            </span>
                            <div class="b-popupa b-popupa_theme_ffffff b-popupa_direction_up b-dropdowna__popup i-bem" onclick="return {'b-popupa':{}}"><i class="b-popupa__tail"></i><i class="b-popupa__shadow"></i>
                                <table class="b-popupa__wrap" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="b-popupa__wrap-cell">
                                            <div class="b-popupa__content b-lang-switcher__popup-content">
                                                <div class="b-menu b-menu_layout_vert b-dropdowna__menu b-lang-switcher__menu">
                                                    <ul class="b-menu__layout-vert">
                                                        <li class="b-menu__layout-vert-cell">
                                                            <div class="b-menu__item b-menu__item_layout_vert"><a class="b-lang-switcher__lang" href="?lang=by"><img class="b-country-flag b-icon b-lang-switcher__flag b-country-flag_size-16_by" src="//yandex.st/lego/_/La6qi18Z8LwgnZdsAr1qy1GwCwo.gif" alt="By"/><span class="b-lang-switcher__lang-name">By</span></a>
                                                            </div>
                                                        </li>
                                                        <li class="b-menu__layout-vert-cell">
                                                            <div class="b-menu__item b-menu__item_layout_vert"><a class="b-lang-switcher__lang" href="?lang=kz"><img class="b-country-flag b-icon b-lang-switcher__flag b-country-flag_size-16_kz" src="//yandex.st/lego/_/La6qi18Z8LwgnZdsAr1qy1GwCwo.gif" alt="Kz"/><span class="b-lang-switcher__lang-name">Kz</span></a>
                                                            </div>
                                                        </li>
                                                        <li class="b-menu__layout-vert-cell">
                                                            <div class="b-menu__item b-menu__item_layout_vert"><a class="b-lang-switcher__lang" href="?lang=ua"><img class="b-country-flag b-icon b-lang-switcher__flag b-country-flag_size-16_ua" src="//yandex.st/lego/_/La6qi18Z8LwgnZdsAr1qy1GwCwo.gif" alt="Ua"/><span class="b-lang-switcher__lang-name">Ua</span></a>
                                                            </div>
                                                        </li>
                                                        <li class="b-menu__layout-vert-cell">
                                                            <div class="b-menu__item b-menu__item_layout_vert"><a class="b-lang-switcher__lang" href="?lang=en"><img class="b-country-flag b-icon b-lang-switcher__flag b-country-flag_size-16_en" src="//yandex.st/lego/_/La6qi18Z8LwgnZdsAr1qy1GwCwo.gif" alt="En"/><span class="b-lang-switcher__lang-name">En</span></a>
                                                            </div>
                                                        </li>
                                                        <li class="b-menu__layout-vert-cell">
                                                            <div class="b-menu__item b-menu__item_layout_vert"><span class="b-lang-switcher__lang b-lang-switcher__lang_selected_yes"><img class="b-country-flag b-icon b-lang-switcher__flag b-country-flag_size-16_ru" src="//yandex.st/lego/_/La6qi18Z8LwgnZdsAr1qy1GwCwo.gif" alt="Ru"/><span class="b-lang-switcher__lang-name">Ru</span></span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td class="b-foot__layout-column b-foot__layout-column_type_penultima"></td>
                    <td class="b-foot__layout-column b-foot__layout-column_type_right">
                        <div class="b-copyright">©&#160;2008&#8211;2014&#160;&#160;Яндекс</div>
                    </td>
                    <td class="b-foot__layout-gap"><i class="b-foot__layout-gap-i"></i>
                    </td>
                </tr>
            </table>
        </div>