       <div class="b-foot" role="contentinfo">
            <table class="b-foot__layout">
                <tr>
                    <td class="b-foot__layout-gap"><i class="b-foot__layout-gap-i"></i>
                    </td>
                    <td class="b-foot__layout-column"></td>
                    <td class="b-foot__layout-column b-foot__layout-column_type_center">

                    </td>
                    <td class="b-foot__layout-column b-foot__layout-column_type_penultima"></td>
                    <td class="b-foot__layout-column b-foot__layout-column_type_right">
                        <div class="b-copyright">©&#160;2013&#8211;2014&#160;&#160;Яндекс</div>
                    </td>
                    <td class="b-foot__layout-gap"><i class="b-foot__layout-gap-i"></i>
                    </td>
                </tr>
            </table>
        </div>