<%! from django.utils.translation import ugettext as _ %>
<div class="field comp-subtitles-entry" id="comp-subtitles-${component_location}"></div>

<script type="text/javascript" src="/static/coffee/src/views/videoalpha/subtitles_import.js"></script>

<script id="subtitles-import-variants-${component_location}-tpl" type="text/template">
    <ul class="comp-import-variants">
        <li>
            <a href="#" class="blue-button">${_("Upload from file")}</a>
        </li>
        <li>
           <a href="#" id="import-from-youtube" class="blue-button">${_("Import from Youtube")}</a>
        </li>
    </ul>
</script>

<script id="subtitles-message-warn-${component_location}-tpl" type="text/template">
    <div class="message-warn">
        <p>If subtitles for the video already exist, importing again will overwrite them.</p>
        <p>Are you sure that you want to import the subtitle file
        found on YouTube?</p>
        <div class="row message-actions">
            <a href="#" class="blue-button import-true-button">Yes</a>
            <a href="#" class="blue-button import-cancel-button">No</a>
        </div>
    </div>
</script>

<script id="subtitles-message-success-${component_location}-tpl" type="text/template">
    <div class="message-success">
        <p>Subtitles were successfully imported.</p>
        <div class="row message-actions">
            <a href="#" class="blue-button import-ok-button">${_("Ok")}</a>
        </div>
    </div>
</script>

<script id="subtitles-message-error-${component_location}-tpl" type="text/template">
    <div class="message-error">
        <p>Import failed!</p>
        <div class="row message-actions">
            <a href="#" class="blue-button import-ok-button">${_("Ok")}</a>
        </div>
    </div>
</script>

<script id="subtitles-message-wait-${component_location}-tpl" type="text/template">
    <div class="message-wait">
        <p>Please wait for the subtitles to download</p>
    </div>
</script>


<script type='text/javascript'>
    $(document).ready(function(){
        new CMS.Views.SubtitlesImport({
            el: $('#comp-subtitles-${component_location}'),
            tpl: {
                variants: _.template($('#subtitles-import-variants-${component_location}-tpl').text())
            }
        });

    //  @models = {
    //     success: new CMS.Models.ConfirmationMessage({
    //         message: gettext("Subtitles were successfully imported."),
    //         actions: {
    //           primary: {
    //             text: gettext("Ok"),
    //             click: function(view, e){
    //               view.hide();
    //               e.preventDefault();
    //             }
    //           }
    //         }
    //     }),
    //     warn: new CMS.Models.WarningMessage({
    //         title: gettext("Are you sure that you want to import the subtitle file found on YouTube?"),
    //         message: gettext("If subtitles for the video already exist, importing again will overwrite them."),
    //         actions: {
    //           primary: {
    //             text: gettext("Yes"),
    //             click: function(view, e){
    //               view.hide();
    //               e.preventDefault();
    //             }
    //           },
    //           secondary: [{
    //             text: gettext("No"),
    //             click: function(view, e){
    //               view.hide();
    //               e.preventDefault();
    //             }
    //           }]
    //         }
    //     }),
    //     wait: new CMS.Models.WarningMessage({
    //         title: gettext("Please wait for the subtitles to download"),
    //         message: [
    //             '<div id=\"circlePreloader\">',
    //             '<div id=\"circlePreloader_1\" class=\"circlePreloader\"></div>',
    //             '<div id=\"circlePreloader_2\" class=\"circlePreloader\"></div>',
    //             '<div id=\"circlePreloader_3\" class=\"circlePreloader\"></div>',
    //             '</div>'
    //         ].join('')
    //     }),
    //     error: new CMS.Models.ErrorMessage({
    //         title: gettext("Import failed!"),
    //         actions: {
    //           primary: {
    //             text: gettext("Ok"),
    //             click: function(view, e){
    //               view.hide();
    //               e.preventDefault();
    //             }
    //           }
    //         }
    //     })
    // };



    });

</script>