<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<div class="wrapper-sock wrapper">
  <ul class="list-actions list-cta">
    <li class="action-item">
      <a href="#sock" class="cta cta-show-sock"><i class="icon-question-sign"></i> <span class="copy">${_(u"Нужна помощь со студией?")}</span></a>
    </li>
  </ul>

  <div class="wrapper-inner wrapper">
    <section class="sock" id="sock">
      <header>
        <h2 class="title sr">${_(u"Помощь")}</h2>
      </header>

      <div class="support">
        <h3 class="title">${_(u"Помощь в студии")}</h3>

        <div class="copy">
           <p>${_(u"Нужна помощь со Студией? Создание курса - это сложно, поэтому мы можем помочь. Воспользуйтесь нашей документацией.")}</p>
        </div>

      <ul class="list-actions">
        <li class="action-item">
          <a href="http://files.edx.org/Getting_Started_with_Studio.pdf" class="action action-primary" title='${_(u"Это PDF-файл")}'>${_(u"Скачать документацию Студии")}</a>
          <span class="tip">${_(u"Как создать курс")}</span>
        </li>
      </ul>
      </div>
    </section>
  </div>
</div>
