<%! from django.core.urlresolvers import reverse %>
<%! from contentstore.utils import compute_unit_state %>

<!--
This def will enumerate through a passed in subsection and list all of the units
-->
<%def name="enum_units(subsection, actions=True, selected=None, sortable=True, subsection_units=None)">
<ol ${'class="sortable-unit-list"' if sortable else ''} data-subsection-id="${subsection.location}">
  <%
    if subsection_units is None:
      subsection_units = subsection.get_children()
  %>
  % for unit in subsection_units:
  <li class="leaf unit" data-id="${unit.location}">
    <%
      unit_state = compute_unit_state(unit)
      if unit.location == selected:
        selected_class = 'editing'
      else:
        selected_class = ''
    %>
    <div class="section-item ${selected_class}">
      <a href="${reverse('edit_unit', args=[unit.location])}" class="${unit_state}-item">
        <span class="${unit.category}-icon"></span>
        <span class="unit-name">${unit.display_name_with_default}</span>
      </a>
      % if actions:
      <div class="item-actions">
	<a href="#" data-tooltip="Удалить элемент" class="delete-button" data-id="${unit.location}"><span class="delete-icon"></span></a>
	<a href="#" data-tooltip="Перетащите для пересортировки" class="drag-handle"></a>
      </div>
      % endif
    </div>
  </li>
  % endfor
  <li>

    <a href="#" class="new-unit-item" data-category="${new_unit_category}" data-parent="${subsection.location}">
      <span class="new-unit-icon"></span>Добавить элемент
        </a>
  </li>
</ol>

            <a href="#" class="show-graph-item"> Граф!!! </a>

<script type="text/javascript" src="/static/js/fancybox/source/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="/static/js/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />

<script type="text/javascript">
    $(document).ready(function() {
        $('.show-graph-item').attr("href", "/graph" + window.location.pathname);
    //    $('.show-graph-item').prop("href", "/google");
        $('.show-graph-item').fancybox({
//            minWidth      : '600',
            width         : '95%',
            height        : '95%',
            autoScale     : false,
            autoSize      : false,
            autoDimensions: false,
            fitToView     : false,
            type          : 'iframe',
//            hideOnOverlayClick:false,
//            hideOnContentClick:false,
            closeClick: false,
            helpers     : {
                overlay : {closeClick: false} // prevents closing when clicking OUTSIDE fancybox
            }

        })
    });
</script>

</%def>
