## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
      <ol>
          <li class="nav-colophon-01">
          <a id="about" href="${marketing_link('ABOUT')}">

              О нас
          </a>
          </li>

          <li class="nav-colophon-04">
          <a id="faq" href="${marketing_link('FAQ')}">
              ${_("FAQ")}
          </a>
          </li>
          <li class="nav-colophon-05">
          <a id="contact" href="${marketing_link('CONTACT')}">

              Контакты
          </a>
          </li>
      </ol>
      </nav>

      <div class="colophon-about">
        <img src="${MITX_ROOT_URL}/static/images/header-logo.png" />
      </div>
    </div>

    <div class="references">
      <nav class="nav-social">
        <ul>

          <li class="nav-social-02">
            <a href="http://www.facebook.com/" rel="external">
              <img src="${MITX_ROOT_URL}/static/images/social/ico-social-facebook.png" alt="Мы на Facebook" />
            </a>
          </li>

        </ul>
      </nav>


     ## <p class="copyright">&copy; 2013 Pelican, Некоторые права защищены.</p>

      <nav class="nav-legal">
        <ul>
          <li class="nav-legal-01">

            <a href="${marketing_link('TOS')}">Правила пользования</a>
          </li>
          <li class="nav-legal-02">
            <a href="${marketing_link('PRIVACY')}">Политика приватности</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
