<%! from django.utils.translation import ugettext as _ %>

<%namespace name='static' file='static_content.html'/>
<h2 class="problem-header">
  ${ _(problem['name']) }
</h2>

##<section class="problem-progress"></section>

<section class="problem" data-problem_time="${problem_time}">

  % if additional_css:
  <style>${additional_css}</style>
  % endif
  ${ problem['html'] }

  <section class="action">
    <input type="hidden" name="problem_id" value="${ problem['name'] }" />

    % if check_button:
    <input class="check ${ check_button }" type="button" value="${ check_button }" />
    % endif
    % if reset_button:
    <input class="reset" type="button" value="${_('Reset')}" />
    % endif
    % if clear_button:
      <input class="clear" type="button" value="${_('Clear')}" />
    %endif
    % if save_button:
    <input class="save" type="button" value="${_('Save')}" />
    % endif
    % if answer_available:
    <button class="show"><span class="show-label">${_('Show Answer(s)')}</span> <span class="sr">${_("(for question(s) above - adjacent to each field)")}</span></button>
    % endif
    % if attempts_allowed :
    <section class="submission_feedback">
      ${_("You have used {num_used} of {num_total} submissions").format(num_used=attempts_used, num_total=attempts_allowed)}
    </section>
    % endif
    %if not problem_now and not is_studio:
        <input class="resume" type="button" value="${_('Resume')}" />
    %endif
    %if not problem_now and is_studio:
        <input class="show-preview-backshot" type="button" value="${_('Preview')}" />
        <input class="hide-preview-backshot" type="button" value="${_('Back to editor')}" />
        <input class="update-view-button" type="button" value="${_('Update')}" />
    %endif
    %if problem_time_format and is_studio:
        <label class = "problem-time-label">${problem_time_format}</label>
    %endif
  </section>
</section>


