<%! from django.utils.translation import ugettext as _ %>

<script type="text/javascript" src="/static/js/sticky-go-button.js" charset="utf-8"></script>

<div id="sequence_${element_id}" class="sequence"
     data-id="${item_id}"
     data-position="${position}"
     data-next_attempt_set="${next_attempt_set}"
     data-course_modx_root="/course/modx" >
  <nav aria-label="Section Navigation" class="sequence-nav">
    <ul class="sequence-nav-buttons">
      <li class="prev"><a href="#">${_('Previous')}</a></li>
    </ul>

    <div class="sequence-list-wrapper">
      <ol id="sequence-list">
        % for idx, item in enumerate(items):
        ## TODO (vshnayder): add item.progress_detail either to the title or somewhere else.
        ## Make sure it gets updated after ajax calls.
        ## implementation note: will need to figure out how to handle combining detail
        ## statuses of multiple modules in js.
        <li>
        <a class="seq_${item['type']} inactive progress-${item['progress_status']}"
           data-id="${item['id']}"
           data-element="${idx+1}"
           href="javascript:void(0);">
            <p aria-hidden="false">${item['title']}<span class="sr">, ${item['type']}</span></p>
          </a>
        </li>
        % endfor
      </ol>
    </div>

    <ul class="sequence-nav-buttons">
      <li class="next"><a href="#">${_("Next")}</a></li>
    </ul>

    <div class="sequence-nav-buttons go-button go-button-static" id="gbid">
        <p class = "check-all"><a href= "#">Ответить</a></p>
        <p class = "godynamo"><a href= "#">Продолжить</a></p>
    </div>

  </nav>
    <br/>

  <div class="attempt-message"></div>
  <br>---------------------------------------------------------------------------<br>
  % for item in items:
  <div class="temp-data"
          timeout="${item['timeout']}"
          next_attempt="${item['next_attempt']}"
          availability="${item['availability']}"
          style="display: none"></div>
  <div class="seq_contents tex2jax_ignore asciimath2jax_ignore"
          data-direct_term="${item['direct_term']}"
          data-progress_detail="${item['progress_detail']}">
      ${item['content'] | h}
  </div>
  % endfor

  <div id="seq_position" position="${position}" style="display: none"></div>
  <div id="seq_content"></div>
  <button class="finish-test" style="display: none"></button>
  <br>---------------------------------------------------------------------------<br>
  <button class="dialog-finish-test">Завершить тестирование</button>
    <div class="dialog_confirm" title="Завершить тест?">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Если вы уверены, что ответили на все вопросы и хотите завершить тест, подтвердите это.</p>
    </div>
     <script  type="text/javascript">
    $(function() {
        $(".dialog_confirm").dialog({
        autoOpen: false,
        show: {
            effect: "blind",
            duration: 100
        },
        hide: {
            effect: "explode",
            duration: 100
        },
        height:300,
        modal: true,
        buttons: {
            "Завершить": function() {
            $(this).dialog( "close" );
            $(".finish-test").click();
                },
            "Отмена": function() {
            $(this).dialog("close");
                }
            }
        });
    });
    $(".dialog-finish-test").click(function() {
        $(".dialog_confirm").dialog("open");
    });
    </script>


  <nav class="sequence-bottom">
    <ul aria-label="${_('Section Navigation')}" class="sequence-nav-buttons">
      <li class="prev"><a href="#">${_("Previous")}</a></li>
      <li class="next"><a href="#">${_("Next")}</a></li>
    </ul>
  </nav>
</div>



<script type="text/javascript">
  var sequenceNav;
  $(document).ready(function() {
    sequenceNav = new SequenceNav($('.sequence-nav'));
  });
</script>
