<%! from django.utils.translation import ugettext as _ %>
%if not is_demo:
<h2> ${_("Thanks For Registering!")}</h2>

<p class='activation-message'>
            ${_("Your account is not active yet. An activation link has been sent to {email}, along with instructions for activating your account.").format(email=email)}
        </p>

%else:

        <p class='activation-message'>
           ${_("You've entered as a demouser with partial rights. To continue working with full rights you must be <a href = '/register'>registered</a>")}
        </p>
%endif