 %if not is_demo:
<h2>Спасибо за регистрацию!</h2>

<p class='activation-message'>
            Ваш аккаунт ещё не активирован. Активационная ссылка и инструкция отправлены на <strong>${ email }</strong>.
        </p>

%else:

        <p class='activation-message'>
            Вы зарегистрированы в системе как демонстрационный пользователь.
            Вам доступно ограниченное количество разделов некоторых курсов.
            Для продолжения работы с полными правами необходимо пройти <a href = "/register">регистрацию</a>, история будет сохранена
        </p>
%endif