<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<section class="container activation">

  <section class="message">

    <h1 class="invalid">Активация прошла неверно</h1>
    <hr class="horizontal-divider">

    <p>Что-то пошло не так. Проверьте, что вы перешли по правильной ссылке - иногда почтовые программы режут ссылки на две части. If you still have issues, e-mail us to let us know what happened
      Если проблема не в этом, отправиьте сообщение на <a href="mailto:${settings.BUGS_EMAIL}">${settings.BUGS_EMAIL}</a>.</p>

    <p>Вернуться на <a href="/">главную страницу</a>.</p>
  </section>
</section>
