{% load i18n %}
{% load compressed %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

  <title>Изменить пароль</title>

  {% compressed_css 'application' %}

  <!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.js' %}"></script>
  <![endif]-->

  <script type="text/javascript">
    $(function() {

      var view_name = 'view-passwordreset';

      // adding js class for styling with accessibility in mind
      $('body').addClass('js').addClass(view_name);

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
      window.open( $(this).attr('href') );
      return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });
    });
  </script>

</head>

<body class="view-passwordreset">

<header class="global">
  <nav>
    <h1 class="logo">
      <a href="{{MKTG_URL_ROOT}}"><img src="/static/images/header-logo.png"></a>
    </h1>
  </nav>
</header>

<section class="content-wrapper">
  <section class="passwordreset container">
    <section class="introduction">
      <header>
        <h1>Изменить пароль</h1>
      </header>
    </section>

    <section role="main" class="content">
      {% if validlink %}
      <header>

        <h2 class="sr">Форма для изменения пароля</h2>
      </header>

      <form role="form" id="passwordreset-form" method="post" data-remote="true" action="">{% csrf_token %}
        <!-- status messages -->
        <div role="alert" class="status message">

          <h3 class="message-title">К сожалению, в вашем регионе наш сервис не работает</h3>
        </div>

        <div role="alert" class="status message submission-error">
          <h3 class="message-title">Произошли следующие ошибки: </h3>
          <ul class="message-copy">
            <li>Вы должны заполнить все поля;</li>
            <li>Пароли не совпадают.</li>
          </ul>
        </div>

        <div role="alert" class="status message system-error">

          <h3 class="message-title">К сожалению, система не может изменить ваш пароль.</h3>
          <p class="message-copy">Попробуйте ещё раз. Пожалуйста, <a href="{{MKTG_URL_CONTACT}}">сообщите нам</a> о том, какая проблема у вас возникла.</p>
        </div>

        <p class="instructions">
          Пожалуйста, введите ваш пароль дважды. <br />
          Поля, необходимые для заполнения выделены <strong class="indicator">жирным и звездочкой (*)</strong>.
        </p>

        <fieldset class="group group-form group-form-requiredinformation">
          <legend class="sr">Необходимая информация</legend>

          <ol class="list-input">
            <li class="field required password" id="field-new_password1">
              <label for="new_password1">Новый пароль</label>
              <input id="new_password1" type="password" name="new_password1" placeholder="*****" />
            </li>
            <li class="field required password" id="field-new_password2">
              <label for="new_password2">Новый пароль ещё раз</label>
              <input id="new_password2" type="password" name="new_password2" placeholder="*****" />
            </li>
          </ol>
        </fieldset>

        <div class="form-actions">

          <button name="submit" type="submit" id="submit" class="action action-primary action-update">Изменить пароль</button>
        </div>
      </form>

      {% else %}

      <header>

        <h2 class="sr">Изменение пароля прошло неудачно</h2>
      </header>
      <p>Ссылка неверна - она уже была использована. Пожалуйста, вернитесь на страницу <a href="/login">авторизации</a> и начните процедуру изменения пароля заново</p>

      {% endif %}
    </section>

    <aside role="complementary">
      <header>

        <h3 class="sr">Помощь</h3>
      </header>

      <div class="cta cta-help">
        <h3>Нужна помощь?</h3>
        <p>Посмотрите наш раздел <a href="{{MKTG_URL_FAQ}}">часто задаваемых вопросов</a></p>
      </div>
    </aside>
  </section>
</section>
