{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}Вы получили это письмо, потому что вы запросили сброс пароля на pelic.ru {% endblocktrans %}

{% trans "Пожалуйста, перейдите по ссылке ниже и введите новый пароль:" %}
{% block reset_link %}
http://{{domain}}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

Если вы не запрашивали смену пароля, не обращайте внимания на это письмо - мы не будем сбрасывать ваш пароль.

{% trans "Спасибо за использование нашего сайта!" %}

{% blocktrans %}Команда pelic.ru{% endblocktrans %}

{% endautoescape %}
