{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Документация' %}</a> / {% endif %}{% trans 'Изменить пароль' %} / <a href="../../logout/">{% trans 'Выйти' %}</a>{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans 'На главную' %}</a> &rsaquo; {% trans 'Изменить пароль' %}</div>{% endblock %}

{% block title %}{% trans 'Пароль успешно изменён' %}{% endblock %}

{% block content %}

<h1>{% trans 'Пароль успешно изменён' %}</h1>

<p>{% trans 'Пароль был изменён.' %}</p>

{% endblock %}
